<h1><span class="icon-hat"></span> Hats</h1>

<div id="loading_icon" [hidden]="!loading">
  <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div><fa-icon [icon]="faArrowsRotate" [spin]="true" size="3x"></fa-icon></div>
    <div id="loading_message">Loading hats...</div>
  </div>
</div>

<div [hidden]="loading">
  <a id="btnNewRaw" class="btn btn-primary" routerLink="/templates/hats/editor">+ Hat</a>

  <div class="infotitle" [hidden]="loading || this.hatsList.length <= 0">Total: {{ totalRecords | number: '1.0-0' }} {{ totalRecords == 1? 'hat':'hats' }}</div>


  <div [hidden]="loading || this.hatsList.length == 0">

<table class="table table-responsive table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Total wings</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let hat of this.hatsList" 
        routerLink="/templates/hats/editor" 
        [queryParams]="{ id: hat.id }" role="button">
        <td>{{ hat.name }}</td>
        <td>{{ hat.total_wings }} {{ (hat.hat_material!="" || hat.crown_material!="")?"(":"" }}{{ hat.hat_material }}{{(hat.hat_material==""?"":", ")}}{{ hat.crown_material }}{{ (hat.hat_material!="" || hat.crown_material!="")?")":"" }}</td>
        <!--
        <td>{{ wing.width | number: '1.1-1' }} cm</td>
        <td style="width: 150px;"><span class="icon-feather-wing"></span> L ({{ wing.Left }})</td>
        <td style="width: 150px;"><span class="icon-feather-wing-r"></span> R ({{ wing.Right }})</td>
        <td style="width: 150px;"><span class="icon-top"></span> T ({{ wing.Top }})</td>
        <td style="width: 150px;"><span class="icon-crown"></span> C ({{ wing.Crown }})</td>
        -->
      </tr>
    </tbody>
  </table>

  <app-paginator #paginator [pages]=4  (onPageChange)="pageChange($event)" />
</div>

  <div [hidden]="loading || this.hatsList.length > 0" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1; text-align: center;margin: 50px 0;">
    No hats added.<br/>
    Please add some by clicking the + button above.
  </div>