<div class="notfound-container">
    <div class="four-oh-four-container">
        <img src="/assets/images/fox-hiding-new.png" />
        <!--
        <span class="num4">4</span>
        <span class="icon-fox-hiding"></span>
        <span class="num4">4</span>
        -->
    </div>
    <h2>The fox is hiding!</h2>
    <h4>Could not find this page</h4>
    <div>(Maybe it has not been added yet)</div>
    <div class="gohome">
        <a routerLink="/">
            <img src="/assets/images/{{ logo_img }}" />
            <span>Go back home!</span>
        </a>
    </div>
</div>