<div style="display:flex; flex-wrap: nowrap; flex-direction: row; align-items: center;">
    <div>0</div>
    <div
        class="capacity-container">
            <div class="fixed-capacity" [style.width.%]="totalCapacity ? ((materialInUse / totalCapacity) * 100) : 0"></div>
            <div class="dynamic-capacity" [style.width.%]="totalCapacity ? (((notInUseCapacity) / totalCapacity) * 100) : 0">
                <div class="dynamic-border" (mousedown)="onMouseDown($event)"></div>
            </div>
    </div>
    <div>{{ totalCapacity }}</div>
</div>
<div class="legend-row">
    <div class="fixed-capacity-legend" *ngIf="show_in_use">
        <strong>In use</strong><br/>
        {{ materialInUse }}
    </div>
    <div class="dynamic-capacity-legend">
        <strong>Not in use</strong><br/>
        {{ ((notInUseCapacity >= 0) ? (notInUseCapacity) : 0) | number: '1.0-0' }}
    </div>
    <div class="capacity-legend">
        <strong>Available</strong><br/>
        {{ (totalCapacity -  (materialInUse + ((notInUseCapacity >= 0) ? (notInUseCapacity) : 0)))  | number: '1.0-0' }}
    </div>
</div>

