.transparent_text {
    color: transparent;
}

.editorForm div.col {
    /*height: calc(3.5rem + calc(var(--bs-border-width)* 2));*/
    margin: 8px 0px;
}

h3 {
    margin: 25px 0;
}

.buttons-area button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 19px;
    margin: 10px 0;
    width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .buttons-area button {
        height: 80px;
    }
}
@media screen and (min-width: 1200px) {
    .buttons-area button {
        width: 80%;
    }
}

.wing-babies-container {
    margin-top: 20px;
}

.crown-size {
    width: 50px;
    text-align: center;
    margin-left: 10px;
}

.crown-size-wrapper {
    margin: 15px 0;
}

.wing_preview {
    border:1px solid var(--bs-gray);
    border-radius: 10px;
    position:fixed;
    right:0;
    top: 50%;
    padding: 5px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 12px black);
    background: var(--bs-gray-600);
    opacity: 1;
    transition: opacity 0.7s ease;    
}

.hidden_preview {
    opacity: 0 !important;
    transition: opacity 0.7s ease !important;
}

.narrow-select {
    width: 70px;
    margin: 0px 10px;
}