<app-confirmation-dialog 
    #delete_confirmation 
    modalTitle="Delete confirmation"
    modalText="Are you sure you want to delete this wing, {{ wing.name }}?"
    [btnYesIcon]=faTrashAlt
    btnYesText="Delete"
    btnYesClass="btn-danger">
</app-confirmation-dialog>

<app-modal-dialog #length_editor (confirm)="length_editor_closed()">
    <app-baby-length-modal #modalContent (length_changed)="modal_length_Changed($event)" [crown_units]="crown_units" />
</app-modal-dialog>

<div class="row justify-content-center">
<div class="col-lg-7 col-md-12">

    <h3><span class="icon-feather-wing"></span> {{ this.title }} <span class="icon-feather-wing-r"></span></h3>
    <form novalidate #wingForm="ngForm">
        <div class="editorForm">
        <div class="row">
            <div class="col">
                <div class="form-floating">
                    <input type="text" class="form-control" id="wingName" #wingName="ngModel" [(ngModel)]="wing.name" name="wingName" required>
                    <label for="wingName">Wing name <span class="text-danger">*</span></label>
                </div>
                <div class="text-danger" *ngIf="wingName.invalid && (wingName.touched || wingName.dirty)" > 
                    <span *ngIf="wingName.errors?.['required']">Please enter a name for the wing</span>
                    <!-- span *ngIf="firstName.errors?.['minlength']">Min 3 Charactors Needed</span --> 
                </div>            
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-babies-length-picker
                    #wing_width
                    [show_invalid_message]="false"
                    [title]="'Select the width of this wing:'"
                    [(length)]="wing.width"
                    [min_length]="5"
                    [max_length]="11"
                 />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-wing-diagram
                    #diagram 
                        [lefts]="this.wing.babies | prefix: 'L' : true"
                        [rights]="this.wing.babies | prefix: 'R' : true"
                        [top_length]="this.wing.babies | prefix: 'TOP' : true"
                        [crown]="this.wing.babies | prefix: 'C' : true"
                        (babyClicked)="this.diagram_babyClicked($event)"
                 />
            </div>
        </div>
        <div class="row wing-babies-container">
            <div class="col">
                <h4><span class="icon-feather-wing"></span> Left Babies</h4>
                <app-wings-babies-table 
                    [(wingsbabies)]="this.wing.babies" 
                    [wingPrefix]="'L'"
                    (OnBabyClick)="this.openLengthModal($event)"
                    />
            </div>
        </div>
        
        <div class="row wing-babies-container">
            <div class="col">
                <h4><span class="icon-feather-wing-r"></span> Right Babies</h4>
                <app-wings-babies-table 
                    [(wingsbabies)]="this.wing.babies" 
                    [wingPrefix]="'R'"
                    (OnBabyClick)="this.openLengthModal($event)"
                    />
            </div>
        </div>
        <div class="row wing-babies-container">
            <div class="col">
                <h4><span class="icon-top"></span> Top</h4>
                <app-babies-length-picker
                    #top_picker
                    [show_invalid_message]="false"
                    [title]="'Choose top length:'"
                    [length]="get_top()"
                    (lengthChange)="set_top()"
                />
            </div>
        </div>
        <div class="row wing-babies-container">
            <div class="col">
                <h4><span class="icon-crown"></span> Crown</h4>
                <div class="crown-size-wrapper">
                    Select the number of crown babies
                    <select class="crown-size" #crown_size (change)="set_crown()" [value]="crown_units">
                        <option *ngFor="let i of this.crown_babies_options" value={{i}}>{{i}}</option>
                    </select>
                </div>
                <app-babies-length-picker
                    #crown_picker
                    [show_invalid_message]="false"
                    [title]="'Select the length of crown babies:'"
                    [length]="crown_length"
                    (lengthChange)="set_crown()"
                />                
            </div>
        </div>
        <!--

        <div class="row wing-babies-container">
            <div class="col">
                
                <app-wings-babies-table
                    [wingsbabies]="babiesCrown"
                    [position]="'Crown'"
                    [wing_id]="wing_id"/>
            </div>
        </div>
    -->

        <div class="row buttons-area">
                <div class="col-12 d-flex justify-content-center {{ this.is_new_wing? 'col-md-6':'col-md-4' }}">
                    <button #btn_save class="btn btn-success" type="submit" (click)="save()"><!--[disabled]="!raw_material_form.form.valid"-->
                        <div class="btn-icon"><fa-icon [icon]="faSave"></fa-icon></div>
                        <div>Save Wing</div>
                    </button>
                </div>
                <div class="col-12 d-flex justify-content-center {{ this.is_new_wing? 'col-md-6':'col-md-4' }}">
                    <button class="btn btn-warning" (click)="gotoWingsList()">
                        <div class="btn-icon"><fa-icon [icon]="faTimesCircle"></fa-icon></div>
                        <div>Cancel Chages</div>
                    </button>
                </div>
                <div class="col-12 d-flex justify-content-center col-md-4" *ngIf="!this.is_new_wing">
                    <button class="btn btn-danger" (click)="confirm_delete()">
                        <div class="btn-icon"><fa-icon [icon]="faTrashAlt"></fa-icon></div>
                        <div>Delete Wing</div>
                    </button>
                </div>
        </div>

    </div>
</form>


</div>

</div>
