.transparent_text {
    color: transparent;
}

.editorForm div.col {
    /*height: calc(3.5rem + calc(var(--bs-border-width)* 2));*/
    margin: 8px 0px;
}

h3 {
    margin: 25px 0;
}

.buttons-area button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 19px;
    margin: 10px 0;
    width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .buttons-area button {
        height: 80px;
    }
}
@media screen and (min-width: 1200px) {
    .buttons-area button {
        width: 80%;
    }
}

.wing-babies-container {
    margin-top: 20px;
}