<app-confirmation-dialog 
    #delete_confirmation 
    modalTitle="Delete confirmation"
    modalText="Are you sure you want to delete this wing, {{ wing!.name }}?"
    [btnYesIcon]=faTrashAlt
    btnYesText="Delete"
    btnYesClass="btn-danger"
    [reverseButtons]="true">
</app-confirmation-dialog>

<app-unsaved-changes-dialog #unsaved_changes_dialog></app-unsaved-changes-dialog>

<app-baby-length-modal 
    #length_editor 
    (length_changed)="modal_length_Changed($event)" 
    [crown_units]="crown_units" 
    (crown_babies_quantity_changed)="crown_babies_quantity_changed($event)"
    (confirm)="length_editor_closed()" />

<app-modal-dialog 
  #crown_editor_dialog
  [modalTitle]="'Edit crown'"
  [btnSaveText]="'Close'"
  [btnCancelClass]="'d-none'"
  [modalSize]="'l'">
    <app-crown-editor 
        [crown_babies]="this.wing!.babies | sortbabies | prefix: 'C'"
        (crown_babiesChanged)="onCrownBabiesChanged($event)"
        [wing_id]="this.wing!.id"
        [(crown_width)]="this.wing!.crown_width"
    />  
</app-modal-dialog>

<div class="row justify-content-center">
<div [ngClass]="{ 'col-12': stretch_width, 'col-lg-7 col-md-12': !stretch_width }">

    <h3 *ngIf="show_titles_buttons"><span class="icon-feather-wing"></span> {{ this.title }} <span class="icon-feather-wing-r"></span></h3>
    <form novalidate #wingForm="ngForm" [id]="'wingForm'">
        <div class="editorForm">
        <div class="row" *ngIf="show_titles_buttons">
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="wingName" #wingName="ngModel" [(ngModel)]="wing!.name" name="wingName" required (ngModelChange)="form_touched()">
                    <label for="wingName">Wing name <span class="text-danger">*</span></label>
                </div>
                <div class="text-danger" *ngIf="wingName.invalid && (wingName.touched || wingName.dirty)" > 
                    <span *ngIf="wingName.errors?.['required']">Please enter a name for the wing</span>
                    <!-- span *ngIf="firstName.errors?.['minlength']">Min 3 Charactors Needed</span --> 
                </div>            
            </div>
            <div class="col-2">
                <button class="btn btn-warning upper-button" (click)="gotoWingsList()" title="Cancel and go back">
                    <div class="btn-icon"><fa-icon [icon]="faArrowLeft"></fa-icon></div>
                </button>
            </div>
            <div class="col-2">
                <button #btn_save class="btn btn-success upper-button" type="submit" (click)="save()" title="Save">
                    <div class="btn-icon"><fa-icon [icon]="faSave"></fa-icon></div>
                </button>
            </div>
            <div class="col-2"  *ngIf="!this.is_new_wing">
                <button class="btn btn-danger upper-button" (click)="confirm_delete()" title="Delete this wing">
                    <div class="btn-icon"><fa-icon [icon]="faTrashAlt"></fa-icon></div>
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center">
                    <span class="icon-knife" style="font-size: 30px; margin-right: 10px;"></span> Select the knife for this wing:
                </div>
                <app-babies-length-picker
                    #wing_width
                    [show_invalid_message]="false"
                    [title]="''"
                    [(length)]="wing!.knife"
                    [min_length]=4
                    [max_length]=12.5
                    (lengthChange)="babies_length_clicked()"
                 />
                 <div class="d-flex align-items-center" style="margin-top:15px;">
                    <span class="icon-wing-size" style="font-size: 40px; margin-right: 15px;"></span>Total wing height: {{ total_wing_height | number : '1.1-1' }} cm
                 </div>
            </div>
        </div>

    <div class="row">
        <div class="col col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [(ngModel)]="wing!.allow_shortening_babies_in_pairs" id="chkAllowShorteningInPairs" name="chkAllowShorteningInPairs" />
                <label class="form-check-label" for="chkAllowShorteningInPairs">
                    Allow shortening babies of this wing in pairs (for selected materials)
                </label>
            </div>
        </div>
    </div>   

        <div class="row">
            <div class="col" #diagram_container>
                <app-wing-diagram
                    #diagram 
                        [lefts]="this.wing!.babies | sortbabies | prefix: 'L' : true"
                        [rights]="this.wing!.babies | sortbabies | prefix: 'R' : true"
                        [top_length]="this.wing!.babies | sortbabies | prefix: 'TOP' : true"
                        [split_l1]="this.wing!.split_l1"
                        [crown]="this.wing!.babies | sortbabies | prefix: 'C' : true"
                        [knife]="wing!.knife"
                        (babyClicked)="this.diagram_babyClicked($event)"
                        [scale]="1"
                 />
                 <div #wing_preview class="wing_preview hidden_preview" (click)="scrollToFullDiagram()" title="Click to see the wing">
                    <div style="text-align: center; color:white;"><fa-icon [icon]="faArrowUp"></fa-icon></div>
                    <div>
                        <app-wing-diagram
                            #diagram_preview
                            [lefts]="this.wing!.babies | sortbabies | prefix: 'L' : true"
                            [rights]="this.wing!.babies | sortbabies | prefix: 'R' : true"
                            [top_length]="this.wing!.babies | sortbabies | prefix: 'TOP' : true"
                            [crown]="this.wing!.babies | sortbabies | prefix: 'C' : true"
                            [split_l1]="this.wing!.split_l1"
                            [knife]="wing!.knife"
                            [max_width]="100"
                            [show_tooltips]="false"
                            [highlight_mouseover_baby]="false"
                            [show_texts]="false"
                            [preset_theme]="'dark'"
                        />
                    </div>
                    <div style="text-align: center; color:white;">Wing preview</div>
                 </div>
            </div>
        </div>
        <div class="row wing-babies-container">
            <div class="col">
                <h4><span class="icon-feather-wing"></span> Left Babies</h4>
                <div class="d-flex flex-row flex-nowrap align-items-center justify-content-start">
                    <div>Split L1 baby into</div>
                    <select *ngIf="wing" class="form-select narrow-select" [(ngModel)]="wing.split_l1" name="wing_split_l1">
                        <option *ngFor="let l1_part of SplitL1_options" value="{{ l1_part }}">{{ l1_part }}</option>
                    </select>
                    <div>parts</div>
                </div>
                <app-wings-babies-table 
                    *ngIf="wing"
                    [(wingsbabies)]="this.wing.babies" 
                    [wingPrefix]="'L'"
                    [split_l1]="wing.split_l1"
                    (OnBabyClick)="this.openLengthModal($event)"
                    (wingsbabiesChange)="babies_length_clicked()"
                    />
            </div>
        </div>
        
        <div class="row wing-babies-container">
            <div class="col">
                <h4><span class="icon-feather-wing-r"></span> Right Babies</h4>
                <app-wings-babies-table 
                    [(wingsbabies)]="this.wing!.babies" 
                    [wingPrefix]="'R'"
                    (OnBabyClick)="this.openLengthModal($event)"
                    (wingsbabiesChange)="babies_length_clicked()"
                    />
            </div>
        </div>
        <div class="row wing-babies-container">
            <div class="col">
                <h4><span class="icon-top"></span> Top</h4>
                <app-babies-length-picker
                    #top_picker
                    [show_invalid_message]="false"
                    [title]="'Choose top length:'"
                    [length]="get_top()"
                    (lengthChange)="set_top()"
                    (lengthChange)="babies_length_clicked()"
                />
            </div>
        </div>
        <div class="row wing-babies-container">
            <div class="col">
                <h4><span class="icon-crown"></span> Crown</h4>

                <app-crown-editor 
                    *ngIf="wing"
                    [crown_babies]="this.wing.babies | sortbabies | prefix: 'C'"
                    (crown_babiesChanged)="onCrownBabiesChanged($event)"
                    [wing_id]="this.wing.id"
                    [(crown_width)]="this.wing.crown_width"
                />
                <!--
                <app-babies-length-picker
                    #crown_picker
                    [show_invalid_message]="false"
                    [title]="'Select the length of crown babies:'"
                    [length]="crown_length"
                    (lengthChange)="set_crown()"
                />
                -->          
            </div>
        </div>
        <!--

        <div class="row wing-babies-container">
            <div class="col">
                
                <app-wings-babies-table
                    [wingsbabies]="babiesCrown"
                    [position]="'Crown'"
                    [wing_id]="wing_id"/>
            </div>
        </div>
    -->

        <div class="row buttons-area"  *ngIf="show_titles_buttons">
            <div class="col-12 d-flex justify-content-center {{ this.is_new_wing? 'col-md-4':'col-md-3' }}">
                <button class="btn btn-warning" (click)="gotoWingsList()">
                    <div class="btn-icon"><fa-icon [icon]="faArrowLeft"></fa-icon></div>
                    <div>Cancel Chages</div>
                </button>
            </div>            
                <div class="col-12 d-flex justify-content-center {{ this.is_new_wing? 'col-md-4':'col-md-3' }}">
                    <button #btn_save class="btn btn-success" type="submit" (click)="save()">
                        <div class="btn-icon"><fa-icon [icon]="faSave"></fa-icon></div>
                        <div>Save Wing</div>
                    </button>
                </div>
                <!--
                <div class="col-12 d-flex justify-content-center {{ this.is_new_wing? 'col-md-4':'col-md-3' }}">
                    <button #btn_save class="btn btn-primary" type="submit" (click)="save(true)">
                        <div class="btn-icon"><fa-icon [icon]="faSave"></fa-icon> + <span class="icon-hat"></span></div>
                        <div>Save & Hat!</div>
                    </button>
                </div>
                -->
                <div class="col-12 d-flex justify-content-center col-md-3" *ngIf="!this.is_new_wing">
                    <button class="btn btn-danger" (click)="confirm_delete()">
                        <div class="btn-icon"><fa-icon [icon]="faTrashAlt"></fa-icon></div>
                        <div>Delete Wing</div>
                    </button>
                </div>
        </div>

    </div>
</form>


</div>

</div>
