.spaced-row {
    margin: 25px 0px;
}

.unspaced-row {
    margin-top: -20px;
}

input.invalid {
    animation: blinker 1.3s 0.34s 2 !important;
    
}

@keyframes blinker {
    50% {
        background-color: red; /*var(--bs-danger)*/
    }
}