<app-modal-dialog #quantityDialog>
    <div modalContent>
        <form novalidate #quantityForm="ngForm" [id]="'quantityForm'">
            <div class="row">
                <div class="col-12">Add {{ editedObject.quantity_units }} of material to the purchase:</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div>
                        <span style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center;">
                            <div class="form-floating" style="width: 100%; margin-right: 20px;">
                            <input type="number" #topUpQuantity="ngModel" class="form-control"
                                placeholder="0" [(ngModel)]="top_up_quantity" name="topUpQuantity" required="true" min="0" [ngClass]="{'form-control': true, 'invalid': (quantityForm.touched && top_up_quantity <=0)}"> 
                                <label for="topUpQuantity">Top up quantity</label>
                            </div>
                            <span>{{ editedObject.quantity_units }}</span>
                        </span>
                    </div>
                    <div>
                        <span *ngIf="top_up_quantity >= 0">Material quantity will be updated to {{ this.editedObject.purchase_quantity + top_up_quantity }} {{ editedObject.quantity_units }}</span>
                        <span class="text-danger" *ngIf="top_up_quantity < 0">Please enter a positibe top-up quantity</span>
                    </div>
                </div>

            </div>
            <div class="row unspaced-row">
                <div class="col">
                    <!--
                    validation:
                    
                    <div class="text-danger" *ngIf="(attemptedClose && (materialQuantity.value=='' || materialQuantity.value <= 0) )">
                        Please enter a valid quantity
                    </div>-->
                </div>
            </div>
        </form>
    </div>
</app-modal-dialog>