
<h1 *ngIf="bigTitle"><span class="icon-baby"></span> Babies</h1>
<h3 *ngIf="!bigTitle"><span class="icon-baby"></span> Babies</h3>

<!--<app-modal-dialog #baby_editor>-->
  <app-baby-editor-dialog #baby_editor></app-baby-editor-dialog>
<!--</app-modal-dialog>-->

<app-modal-dialog #delete_confirmation>
  <app-confirmation-dialog #modalContent></app-confirmation-dialog>
</app-modal-dialog>

<div style="display:flex; flex-direction: column; justify-content: center;">
<div id="loading_icon" [hidden]="!loading">
    <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div><fa-icon [icon]="faArrowsRotate" [spin]="true" size="3x"></fa-icon></div>
      <div id="loading_message">Loading babies...</div>
    </div>
  </div>
  
  <div *ngIf="!readOnly" [hidden]="loading">
    <a class="btn btn-primary btn-add" (click)="openDialog(null)">+ Add baby</a>
  </div>

  <div class="infotitle">Total: {{ totalquantity | number: '1.0-0' }} {{ totalquantity == 1? 'baby':'babies' }}, in {{ totalRecords | number: '1.0-0' }} {{ totalRecords == 1? 'record':'records' }}</div>

  <div [hidden]="loading || this.babies.length == 0">
 <div class="table-responsive">
  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" [hidden]="!this.show_material_col">Raw Mateial</th>
          <th scope="col">Length</th>
          <th scope="col" class="text-center">Quantity</th>
          <th scope="col" class="text-center">In active orders</th>
          <th scope="col">Last update</th>
          <th scope="col">Last update by</th>
          <th scope="col" class="text-center" *ngIf="!readOnly">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr 
          *ngFor="let baby of this.babies" 
          
          role="button" (click)="openDialog(baby)">
          <td [hidden]="!this.show_material_col"><a [attr.href]="'/inventory/raw/editor?id=' + baby.raw_material_parent_id"><span class="icon-leaf"></span> {{ baby.raw_material }}</a></td>
          <td>{{ baby.length | number : '1.1-1' }} cm</td>
          <td class="text-center">{{ baby.quantity }}</td>
          <td class="text-center">{{ baby.quantity_in_pending_orders }}</td>
          <td>{{ baby.updated_at | dateStr }}</td>
          <td>{{ baby.updated_by }}</td>
          <td *ngIf="!readOnly" class="text-center" (click)="deleteBaby(baby)"><fa-icon class="text-danger" [icon]="faTrashCan"></fa-icon></td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-paginator *ngIf="paged" #paginator [pages]=4  (onPageChange)="pageChange($event)" [hidden]="this.paginator.pages <= 1" />
  </div>

  <div [hidden]="loading || this.babies.length > 0" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1; text-align: center;margin: 50px 0;">
    No babies created for this material.<br/>
    Please add some by clicking the + button above.
  </div>
</div>