<app-modal-dialog 
    #mail_verification_notice
    [modalTitle]="'Unverifued email'"
    [btnSaveClass]="'d-none'"
    [btnCancelClass]="'btn-warning'"
    [btnCancelText]="'Close'"
    >
    <div>
        Your email address, <strong>{{ pending_email }}</strong> is not verified yet.<br/><br/>
        If you have not received a verification code by mail, <a href="javascript:void(0)" (click)="send_verification_mail()">click here</a> to send it again.
    </div>
</app-modal-dialog>

<app-unsaved-changes-dialog #unsaved_changes_dialog></app-unsaved-changes-dialog>

<div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xl-10">

        <h3><fa-icon [icon]="faAddressCard"></fa-icon> My profile: {{ user.username }}</h3>

        <app-page-loading 
        [loading_message]="'Loading profile'" 
        [hidden]="!loading" />

        <form novalidate #profile_form="ngForm" [id]="'profile_form'">
            <div [hidden]="loading">
            <div class="container-fluid">
            <div class="row">

            <div class="col-12 mb-3">
                <span class="text-warning">
                    <strong>Your role<span *ngIf="user.roles.length != 1">s</span>: </strong>
                    <span *ngFor="let item of user.roles; index as i">
                        {{ item.name | titlecase }}<span *ngIf="i < user.roles.length-1">, </span>
                    </span>   
                </span>
                <strong style="margin-left: 10px;">Registered on </strong> {{(user.registered_on | dateStr)}}
            </div>

            <div class="col-12"><!--col-12 col-md-12 col-lg-8 order-2 order-lg-1-->
                <div class="profile-section">
                    <div>Personal details</div>

                        <div class="row section-row">
                            <div class="col-12 col-xl-7 order-2 order-xl-1">
                            <div class="mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input type="text" 
                                        id="user_firstname" class="form-control" placeholder="0" [(ngModel)]="user.firstname" name="user_firstname" #user_firstname="ngModel" [required]="true" [pattern]="'^[a-zA-Z][a-zA-Z\\-_]*$'">
                                    <label for="user_firstname">First name<span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="text-danger" *ngIf="user_firstname.invalid && (user_firstname.touched || user_firstname.dirty)" > 
                                <span *ngIf="user_firstname.errors?.['required']">First name is required</span>
                                <span *ngIf="user_firstname.errors?.['pattern']">Use only letters, space or -</span>
                            </div>
                            </div>             

                            <div class="mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input type="text" 
                                        id="user_lastname" class="form-control" placeholder="0" [(ngModel)]="user.lastname" name="user_lastname" #user_lastname="ngModel"  [required]="true" [pattern]="'^[a-zA-Z][a-zA-Z\\-_]*$'">
                                    <label for="user_lastname">Last name<span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="text-danger" *ngIf="user_lastname.invalid && (user_lastname.touched || user_lastname.dirty)" > 
                                <span *ngIf="user_lastname.errors?.['required']">Last name is required</span>
                                <span *ngIf="user_lastname.errors?.['pattern']">Use only letters, space or -</span>
                            </div>
                            </div>
                            
                            <div class="mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input type="text" 
                                        id="user_email" class="form-control" placeholder="0" [(ngModel)]="current_email" name="user_email" #user_email="ngModel" [required]="true" [email]="true" (change)="email_changed()">
                                    <label for="user_email">Email address<span class="text-danger">*</span></label>
                                </div>
                            </div>                
                            <div class="text-warning" *ngIf="pending_email">Not verified. <a href="javascript:void(0)" (click)="open_mail_verification_dialog()">Click here</a></div>
                            <div class="text-danger" *ngIf="user_email.invalid && (user_email.touched || user_email.dirty)" > 
                                <span *ngIf="user_email.errors?.['required']">Email is required</span>
                            </div>  
                            <div class="text-danger" *ngIf="user_email.errors?.['email'] && (user_email.touched || user_email.dirty)" > 
                                <span *ngIf="user_email.errors?.['email']">Invalid email</span>
                            </div>
                            </div>            

                            <div class="mb-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input type="tel" 
                                        id="user_phone" class="form-control" placeholder="0" [(ngModel)]="user.phone" name="user_phone" #user_phone="ngModel">
                                    <label for="user_phone">Phone number</label>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="col-12 col-xl-5 order-1 order-xl-2 d-flex justify-content-xl-end justify-content-center mb-3 mb-xl-0">
                            <app-image-crop 
                                #profile_photo 
                                [image_url]="(user.photo_url)? (environment.serverUrl  + user.photo_url) : ''"
                                (imageCleared)="photo_cleared()" 
                                (newimageLoaded)="photo_loaded()"/>
                        </div>
                    </div>
                </div>
                <div class="profile-section">
                    <div class="row">
                        <div class="col col-12 col-md-6  mt-3 mt-md-0 mb-3 mb-md-0">
                        Change your password
                        </div>
                        <div class="col col-12 col-md-6  mt-3 mt-md-0 mb-3 mb-md-0">
                        <div class="input-group">
                            <div class="form-floating">
                                <input type="password" 
                                    id="user_current_pass" class="form-control" placeholder="0" [(ngModel)]="password_change.current_password" name="user_current_pass" #user_current_pass="ngModel" (change)="checkPasswords()">
                                <label for="user_current_pass">Current password</label>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="password_change_errors.current_password" > 
                            {{ password_change_errors.current_password }}
                        </div>

                        <div class="input-group mt-3">
                            <div class="form-floating">
                                <input type="password" 
                                    id="user_new_pass" class="form-control" placeholder="0" [(ngModel)]="password_change.new_password" name="user_new_pass" #user_new_pass="ngModel" (change)="checkPasswords()">
                                <label for="user_new_pass">New password</label>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="password_change_errors.new_password" > 
                            {{ password_change_errors.new_password }}
                        </div>

                        <div class="input-group mt-3">
                            <div class="form-floating">
                                <input type="password" 
                                    id="user_new_pass2" class="form-control" placeholder="0" [(ngModel)]="password_change.repeat_new_password" name="user_new_pass2" #user_new_pass2="ngModel" (change)="checkPasswords()">
                                <label for="user_new_pass2">Repeat new password</label>
                            </div>
                        </div>                                
                        <div class="text-danger" *ngIf="password_change_errors.repeat_new_password" > 
                            {{ password_change_errors.repeat_new_password }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-section">
                <div class="row">
                    <div class="col col-12 col-md-6  mt-3 mt-md-0 mb-3 mb-md-0">
                        Current logins
                    </div>
                    <app-logins-table />
                </div>
            </div>


            <!-- Customers -->
                <div class="profile-section">
                    <div class="row">
                    <div class="col col-12 col-md-6  mt-3 mt-md-0 mb-3 mb-md-0" *ngIf="user.customers && user.customers.length > 0">
                        Your profile is a customer profile, which is linked to the following customers:
                    <app-customers-table
                        [stretchWidth]="true"
                        [showTitle]="false"
                        [paged]="false"
                        ></app-customers-table>
                    </div>
                    <div class="col col-12" *ngIf="!user.customers || user.customers.length <= 0">
                        <fa-icon [icon]="faTriangleExclamation" class="text-warning"></fa-icon> Your profile is a customer profile, but not linked specifically to any customers.
                    </div>
                </div>
            </div>
            <!---->             

        </div>

    </div>
</div>

    <div class="row mb-3">
        <div class="col d-flex justify-content-center">

        <button class="btn btn-success save-button" (click)="save()" [disabled]="saving">
            <span *ngIf="!saving">
                <fa-icon [icon]="faSave" ></fa-icon>
                <span style="margin-left: 10px;">Save changes</span>
            </span>
            <fa-icon [icon]="faArrowsRotate" [animation]="'spin'" class="action-icon" *ngIf="saving"></fa-icon>
        </button>

    </div>
</div>
</div>

</form>
</div>
</div>