fa-icon:has(svg.fa-border-none) {
    display: none;
}

fa-icon:has(svg) {
    margin-right: 5px;
}

.reversed_buttons {
    flex-direction: row-reverse;
    justify-content: flex-start;
}

::ng-deep .modal-content, ::ng-deep .modal {
    z-index: 99999;
}