<app-modal-dialog 
    #advisor_dialog
    [btnSaveClass]="'d-none'"
    [btnCancelText]="'Close'"
    [btnCancelClass]="'btn-secondary m-auto'"
    [modalSize]="'xl'"
    [modalTitle]="'Hats Advisor'">
    <div class="">
        <table class="table table-responsive">
            <tbody>
            <ng-container *ngFor="let suggestion of suggestions.wing_suggestions">
            <tr>
                <td [attr.rowspan]="suggestion.alternatives.length + 1">
                    <strong>{{ suggestion.wing_name }}</strong><br/>
                    Up to {{ suggestion.max_num_of_hats }} hats
                </td>
            </tr>
            <tr *ngFor="let alternative of suggestion.alternatives">
                <td >
                    {{alternative.descriptive_string}}
                </td>
                <td>
                    <button 
                        class="btn btn-success" 
                        (click)="goToCalculator(suggestion.wing_id, suggestions.wall_allocation_id, suggestions.crown_allocation_id, alternative.shorten_top, alternative.shorten_crown)">
                        Order!
                    </button>
                </td>
            </tr>
            <tr><td class="spacer" colspan="3"></td></tr>
            </ng-container>
        </tbody>
    </table>
    </div>
</app-modal-dialog>

<app-modal-dialog 
    #hat_creation_assistant
    [btnSaveText]="'Add missing babies to my allocation'"
    [btnSaveClass]="'btn-success'"
    [btnCancelText]="'Cancel'"
    [modalSize]="'xl'"
    [modalTitle]="'Auto-adjust allocation #' + wall_allocation?.id"
    (confirm)="assistant_add_babies()">
        <!------------>
        <table class="table table-responsive table-borderless assistant_table">
            <tbody>
                <tr>
                    <td>
                        Choose a wing design
                    </td>
                    <td>
                        <ng-select
                        #wing_selector
                        placeholder="Select a wing"
                        (change)="assistant_recalculate()"
                        [items]="systemWings"
                        bindLabel="name"
                        bindValue="id"
                        [(ngModel)]="assistant_selected_wing_id"        
                        >
                        @for (wing of systemWings; track wing) {
                            <ng-option [value]="wing.id">{{ wing.name }}</ng-option>
                        }
                        </ng-select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of wings per hat
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="assistant_wing_quantity" style="width: 70px; text-align: center;" (change)="assistant_recalculate()" (keyup)="assistant_recalculate()" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of hats to make
                    </td>
                    <td>
                        <input type="number" [(ngModel)]="assistant_num_of_hats" style="width: 70px; text-align: center;" (change)="assistant_recalculate()" (keyup)="assistant_recalculate()" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="assistant_selected_wing_id">
            <table class="table">
                <thead>
                    <th>Baby length</th>
                    <th>Positions</th>
                    <th>Total needed</th>
                    <th>In allocation</th>
                    <th>Missing</th>
                </thead>
                <tbody>
                    <tr *ngFor="let baby of assistant_aggregated_hat_babies">
                        <td>{{ baby.length | number : '1.1-1' }} cm</td>
                        <td>{{ baby.position }}</td>
                        <td>{{ baby.quantity * assistant_num_of_hats }}</td>
                        <td>{{ baby.quantity_in_allocation }}</td>
                        <td [className]="(baby.remaining > 0)? 'text-danger':''">{{ (baby.remaining > 0)? baby.remaining:'-' }}</td>
                    </tr>
                    <tr *ngFor="let baby of assistant_aggregated_crown_babies">
                        <td>{{ baby.length | number : '1.1-1' }} cm</td>
                        <td>{{ baby.position }}</td>
                        <td>{{ baby.quantity * assistant_num_of_hats }}</td>
                        <td>{{ baby.quantity_in_allocation }}</td>
                        <td [className]="(baby.remaining > 0)? 'text-danger':''">{{ baby.remaining }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!assistant_selected_wing_id" class="assistant_info">
            <div><fa-icon class="text-warning" [icon]="faLightbulb" size="1x"></fa-icon></div>
            <div>
                This tool can help add babies to your allocation to cover a selected hat to order
            </div>
            <div>Choose a wing to get started.</div>
        </div>
        <!------------>
</app-modal-dialog>

<div class="advisor">
    <div class="advisor-content" *ngIf="calculating">
        <div>
            <fa-icon [icon]="faArrowsRotate" [spin]="true"></fa-icon>
        </div>
        <div>
            Calculating...
        </div>
    </div>
    <div class="advisor-content" *ngIf="!calculating && suggestions.max_num_of_hats > 0 && try_to_exceed < 0">
        <div class="message">
            <div><fa-icon class="text-warning" [icon]="faLightbulb" size="1x"></fa-icon> With this allocation you can make up to {{ suggestions.max_num_of_hats }} {{ (suggestions.max_num_of_hats == 1)? 'hat': 'hats' }} of type <strong>{{ suggestions.max_hat_wing_name }}</strong></div>
            <div *ngIf="show_options_button"><button class="btn btn-success" (click)="openAdviseTable()">Show me!</button></div>
        </div>
    </div>
    <div class="advisor-content" *ngIf="!calculating && suggestions.max_num_of_hats <= 0 && try_to_exceed < 0">
        <div class="message">
        <div><fa-icon class="text-danger" [icon]="faTriangleExclamation" size="1x"></fa-icon>
            You don't have the capatity to make {{ (wing_id > 0)? 'this hat': 'hats' }} with {{ (wall_allocation && crown_allocation && wall_allocation.id == crown_allocation.id)?'this allocation':'these allocations' }}
        </div>
            <div *ngIf="(wall_allocation && crown_allocation && wall_allocation.id == crown_allocation.id)"><button class="btn btn-info" (click)="helpCreateHat()">Help me adjust my allocation!</button></div>
        </div>
    </div>
    <div class="advisor-content" *ngIf="!calculating && try_to_exceed >= 0">
        <div class="message">
            <div><div><fa-icon class="text-warning" [icon]="faLightbulb" size="1x"></fa-icon>{{ exceed_number_of_hats_message }}</div>
            <div *ngIf="!already_at_max_num_of_hats" style="display: flex; justify-content: center;"><button class="btn btn-warning" (click)="emit_exceed_operation()">Make this change for me!</button></div>
        </div>
    </div>
</div>
