.advisor {
    border: 1px solid;
    margin: 20px 0px;
    padding: 30px;
    border-radius: 10px;
}

.advisor-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.advisor-content fa-icon {
    margin-right: 20px;
}

.advisor-content .message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advisor-content .btn {
    padding: 5px 10px;
    margin-top: 10px;
}

table tr td.spacer {
    border: none;
    padding-top: 10px;
    background-color: transparent;
  }