<app-modal-dialog 
    #advisor_dialog
    [btnSaveClass]="'d-none'"
    [btnCancelText]="'Close'"
    [modalSize]="'xl'"
    [modalTitle]="'Hats Advisor'">
    <div class="">
        <table class="table table-responsiver">
            <tbody>
            <ng-container *ngFor="let suggestion of suggestions.wing_suggestions">
            <tr>
                <td [attr.rowspan]="suggestion.alternatives.length + 1">
                    <strong>{{ suggestion.wing_name }}</strong><br/>
                    Up to {{ suggestion.max_num_of_hats }} hats
                </td>
            </tr>
            <tr *ngFor="let alternative of suggestion.alternatives">
                <td >
                    {{alternative.descriptive_string}}
                </td>
                <td>
                    <button 
                        class="btn btn-success" 
                        (click)="goToCalculator(suggestion.wing_id, suggestions.wall_allocation_id, suggestions.crown_allocation_id, alternative.shorten_top, alternative.shorten_crown)">
                        Order!
                    </button>
                </td>
            </tr>
            <tr><td class="spacer" colspan="3"></td></tr>
            </ng-container>
        </tbody>
    </table>
    </div>
</app-modal-dialog>

<div class="advisor">
    <div class="advisor-content" *ngIf="calculating">
        <div>
            <fa-icon [icon]="faArrowsRotate" [spin]="true"></fa-icon>
        </div>
        <div>
            Calculating...
        </div>
    </div>
    <div class="advisor-content" *ngIf="!calculating && suggestions.max_num_of_hats > 0 && try_to_exceed <= 0">
        <div class="message">
            <div><fa-icon class="text-warning" [icon]="faLightbulb" size="1x"></fa-icon> With this allocation you can make up to {{ suggestions.max_num_of_hats }} {{ (suggestions.max_num_of_hats == 1)? 'hat': 'hats' }} of type <strong>{{ suggestions.max_hat_wing_name }}</strong></div>
            <div *ngIf="show_options_button"><button class="btn btn-success" (click)="openAdviseTable()">Show me!</button></div>
        </div>
    </div>
    <div class="advisor-content" *ngIf="!calculating && suggestions.max_num_of_hats <= 0 && try_to_exceed <= 0">
        <div>
            <fa-icon class="text-danger" [icon]="faTriangleExclamation" size="1x"></fa-icon>
        </div>
        <div>
            You don't have the capatity to make {{ (wing_id > 0)? 'this hat': 'hats' }} with {{ (wall_allocation && crown_allocation && wall_allocation.id == crown_allocation.id)?'this allocation':'these allocations' }}
        </div>
    </div>
    <div class="advisor-content" *ngIf="!calculating && try_to_exceed > 0">
        <div class="message">
            <div><div><fa-icon class="text-warning" [icon]="faLightbulb" size="1x"></fa-icon>{{ exceed_number_of_hats_message }}</div>
            <div *ngIf="!already_at_max_num_of_hats" style="display: flex; justify-content: center;"><button class="btn btn-warning" (click)="emit_exceed_operation()">Make this change!</button></div>
        </div>
    </div>
</div>
