
<app-modal-dialog #babyEditorDialog>
    <div modalContent>
<!--<form novalidate #baby_editor_form="ngForm" [formGroup]="babyFormEditor">-->
    <div class="form-floating">
        <!--
        <ng-select name="length" #length formControlName="length" [formGroup]="babyFormEditor" [clearable]="false" style="display:none">
            @for (length of lengths; track length) {
                <ng-option [value]="length">{{ length }}</ng-option>
            }
        </ng-select>

        <div>
            <div>Length</div>
        @for (length of lengths; track length) {
            <div (click)="setLength(length)" [className]="((this.editedObject.length.toFixed(1).toString() == length)? 'length-selector-box selected-length' :'length-selector-box')">{{ length }} cm</div>
        }
        
        </div>
            -->
        <div>
            <app-babies-length-picker #length_picker [(length)]="highlighted_baby_length" />
        </div>
    </div>
    <div class="form-floating mt-3">
        <input type="number" class="form-control" placeholder="0" required min="1" #quantity [(ngModel)]="highlighted_baby_quantity" (focus)="$any($event.target).select()" (keyup.enter)="sendit($event)">
        <label for="quantity">Quantity</label>
    </div>
    <!--div class="text-danger" *ngIf="babyFormEditor.get('quantity')?.invalid && (babyFormEditor.get('quantity')?.touched || babyFormEditor.get('quantity')?.dirty || isSubmitted) && (babyFormEditor.get('quantity') && !babyFormEditor.get('quantity')?.value)"> 
        <span>Please enter a valid babies quantity</span>
    </div--> 
    <div class="text-success d-flex justify-content-center">
        (Hit Enter to send and move next)
    </div>
<!--</form>-->
</div>
</app-modal-dialog>
