<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><div class="navbar-logo"></div></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ms-auto navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink=""  [ngClass]="(currentUrl == '/' || currentUrl == '') ? 'active': ''"><span class="icon-home"></span> Home</a> <!--active-->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="(currentUrl.indexOf('/inventory/') >= 0) ? 'active': ''">
              Inventory
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="inventory/customers" [ngClass]="(currentUrl.indexOf('/inventory/customers') >= 0) ? 'active': ''"><span class="icon-address-book"></span> Customers</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="inventory/raw" [ngClass]="(currentUrl.indexOf('/inventory/raw') >= 0) ? 'active': ''"><span class="icon-leaf"></span> Raw materials</a></li>
              <li><a class="dropdown-item" routerLink="inventory/babies" [ngClass]="(currentUrl.indexOf('/inventory/babies') >= 0) ? 'active': ''"><span class="icon-baby"></span> Babies</a></li>
            </ul>
          </li>          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="(currentUrl.indexOf('/templates/') >= 0) ? 'active': ''">
              Templates
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="templates/wings" [ngClass]="(currentUrl.indexOf('/templates/wings') >= 0) ? 'active': ''"><span class="icon-feather-wing"></span> Wings</a>
              </li>
              <li><a class="dropdown-item" routerLink="templates/hats" [ngClass]="(currentUrl.indexOf('/templates/hats') >= 0) ? 'active': ''"><span class="icon-hat"></span> Hats</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
          <li>
            <app-theme-selector />
          </li>
        </ul>
        <form class="d-flex d-none" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>