<app-modal-dialog 
  #invite_user_form_dialog 
  [modalSize]="'lg'" 
  [canClose]="canCloseAccountInvite"
  [modalTitle]="'Invite a new user'"
  [btnSaveClass]="'btn-warning' + (sending?' disabled':'')"
  [btnSaveText]="(sending)? 'Sending...' : 'Send request'"
  [btnSaveIcon]="(sending)? faArrowsRotate : faEnvelopeCircleCheck"
  [btnSaveSpin]="sending"
  [btnCancelText]="'Cancel'"
  (cancel)="reset()"><!--(confirm)="send_invite()" -->

<form novalidate #account_invite_form="ngForm" [id]="'account_invite_form'" (keyup.enter)="get_data()" modalContent>
    <div *ngIf="error_message" class="bg-danger p-2 mt-1 mb-1">
        {{ error_message }}
    </div>
    <div>
    Fill details to invite a new user to the system. They will receive a link to set their password and login.
    </div>

    <div class="row mt-4">
        <div class="col-12 col-sm-6">
        <div class="form-floating">
            <input 
            type="text" 
            class="form-control" 
            id="input_firstname" 
            placeholder="First name" 
            [(ngModel)]="invitation.firstname" 
            #input_firstname="ngModel" 
            name="input_firstname" 
            [required]="true"
            [pattern]="'^[a-zA-Z\\s\\-_]*$'">
            <label for="input_firstname">First name <span class="text-danger">*</span></label>
        </div> 
        <div class="text-danger" *ngIf="input_firstname.invalid && (input_firstname.touched || input_firstname.dirty)" > 
            <span *ngIf="input_firstname.errors?.['required']">First name is required</span>
            <span *ngIf="input_firstname.errors?.['pattern']">Use only letters, space or -</span>
        </div>
        </div>

        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
        <div class="form-floating">
            <input 
            type="text" 
            class="form-control" 
            id="input_lastname" 
            placeholder="Last name" 
            [(ngModel)]="invitation.lastname" 
            #input_lastname="ngModel" 
            name="input_lastname" 
            [required]="true"
            [pattern]="'^[a-zA-Z\\ \\-]*$'">
            <label for="input_lastname">Last name <span class="text-danger">*</span></label>
        </div> 
        <div class="text-danger" *ngIf="input_lastname.invalid && (input_lastname.touched || input_lastname.dirty)" > 
            <span *ngIf="input_lastname.errors?.['required']">Last name is required</span>
            <span *ngIf="input_lastname.errors?.['pattern']">Use only letters, space or -</span>
        </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-sm-6">
        <div class="form-floating">
            <input 
            type="email" 
            class="form-control" 
            id="input_email" 
            placeholder="name@example.com" 
            [(ngModel)]="invitation.email" 
            #input_email="ngModel" 
            name="input_email" 
            [required]="true"
            [email]="true">
            <label for="input_email">email <span class="text-danger">*</span></label>
        </div>
        <div class="text-danger" *ngIf="input_email.invalid && (input_email.touched || input_email.dirty)" > 
            <span *ngIf="input_email.errors?.['required']">Email is required</span>
        </div>
        <div class="text-danger" *ngIf="input_email.errors?.['email'] && (input_email.touched || input_email.dirty)" > 
            <span *ngIf="input_email.errors?.['email']">Please enter a valid email</span>
        </div>
        </div>

        <div class="col-12 col-sm-6 mt-4 mt-sm-0">

            <ng-select
                [items]="roles"
                [(ngModel)]="invitation.role"
                name="role_select"
                [multiple]="false"
                bindLabel="name"
                [placeholder]="'Pick a role'"
                (change)="role_selected($event)"
                class="roles-select"
                required
                #role_select_model="ngModel"
            ></ng-select>

            <div *ngIf="role_select_model.invalid && (role_select_model.dirty || role_select_model.touched)" class="text-danger">
                Role selection is required
            </div>
        </div>
        
            <div class="mt-4 mb-4">

                <div class="text-danger" [hidden]="!invitation || !invitation.role || invitation.role.name.toLowerCase()!='administrator'">
                    <fa-icon [icon]="faTriangleExclamation" class="text-warning me-2"></fa-icon>
                    <strong><span class="text-warning">Careful!</span> An administrator has unlimited access!</strong>
                </div>
                <!--  customer section -->
                <div [hidden]="!invitation || !invitation.role || invitation.role.name.toLowerCase()!='customer'">
                    <div class="d-flex flex-nowrap align-items-start">
                        <input class="form-check-input" type="radio" name="customer_options" id="customer_options_not_demo" [(ngModel)]="invitation.is_demo_customer" [value]="false">
                        <label class="form-check-label" for="customer_options_not_demo">
                            This user represents a real customer, connected as follows: 
                        </label>  
                    </div>
                    <div class="customer-selection-wrapper" [attr.disabled]="invitation.is_demo_customer">
                        <div class="mt-4 mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" name="chk_create_customer" id="chkCreateNewCustoemr" #chkCreateNewCustoemr (change)="set_instructions_and_approval_btn_status()" [(ngModel)]="invitation.create_new_customer" [disabled]="invitation.is_demo_customer">
                                <label class="form-check-label" for="chkCreateNewCustoemr">
                                    Create a new customer in the system for this user
                                </label>
                            </div>                        
                        </div>
                        <div class="mt-4 mb-4" [attr.disabled]="invitation.is_demo_customer"><strong>Connect this user to the following existing customers:</strong></div>
                        <app-customer-picker 
                            #customer_picker 
                            [(pickedCustomers)]="invitation.customers"
                            [disabled]="invitation.is_demo_customer" 
                            (Change)="set_instructions_and_approval_btn_status()"
                            />
                    </div>
                    <div class="d-flex flex-nowrap align-items-start">
                        <input class="form-check-input" type="radio" name="customer_options" id="customer_options_demo" [(ngModel)]="invitation.is_demo_customer" [value]="true">
                        <label class="form-check-label" for="customer_options_demo">
                            This is a demo customer (not connected to real customers)
                        </label>
                    </div>
                    <div *ngIf="invitation.is_demo_customer" class="text-warning d-flex align-items-center flex-row" style="margin: 10px;">
                        <fa-icon [icon]="faTriangleExclamation" class="text-warning me-2"></fa-icon>
                        <span>A demo customer can play with calculations but not affect the inventory, or send new orders.</span>
                    </div>                     
                </div>

               
                <!-- / customer section -->
                <div class="text-warning" [hidden]="!invitation || !invitation.role || invitation.role.name.toLowerCase()!='employee'">
                    Employees have access to orders and speficically approved system areas.
                </div>
                <div class="text-warning" [hidden]="!invitation || !invitation.role || invitation.role.name.toLowerCase()!='guest'">
                    Guests have specicially <em>READONLY</em> access to some areas.
                </div>
            </div>        

    </div>

</form>

</app-modal-dialog>