<app-modal-dialog #customerDialog>
    <div modalContent>
<form novalidate #bankForm="ngForm" [id]="'bankForm'">
<div class="row spaced-row">
    <div class="col p-field">
        <span class="form-floating">
        <div [ngClass]="{'ng-autocomplete': true, 'invalid': (customerName.touched && customerName.value==='')}">
            <ng-autocomplete 
              [data]="customer_names"
              placeholder="Customer name"
              [itemTemplate]="itemTemplate"
              [(ngModel)]="editedObjectCopy.name"
              class="form-control form-control-plaintext abc"
              name="customerName"
              #customerName="ngModel"
              required="true"
              (selected)="customer_name_selected($event)"
              (inputChanged)="customer_name_selected($event)"
              [disabled]="editedObjectCopy.id!=0">
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item"></a>
            </ng-template>
        </div>
        </span>
    </div>
    <div class="text-danger" *ngIf="attemptedClose && customerName.value==''">Please enter a customer name</div>
    <div class="text-success" *ngIf="customerName.value!='' && customer_names.indexOf(customerName.value) == -1">New customer <strong>{{ customerName.value }}</strong> will be created</div>
</div>
<div class="row spaced-row">
    <div class="col-12">
            <span style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center;">
                <div class="form-floating" style="width: 100%; margin-right: 20px;">
                <input type="number" #materialQuantity="ngModel" [ngClass]="{'form-control': true, 'invalid': ((bankForm.touched) && ((editedObjectCopy.quantity <=0) || (editedObjectCopy.quantity > remainingMaterialQuantity)))}"
                    placeholder="0" [(ngModel)]="editedObjectCopy.quantity" name="materialQuantity" required="true" min="{{ initialBankInUseQuantity }}" max="{{ initialBankQuantity + remainingMaterialQuantity }}"> 
                    <label for="materialQuantity">Quantity</label>
                </div>
                <span>{{ editedObjectCopy.quantity_units }}</span>
            </span>
        </div>
</div>
<div class="row unspaced-row">
    <div class="col">
        <!--
        validation:
        -->
        <div class="text-danger" *ngIf="(attemptedClose && (materialQuantity.value=='' || materialQuantity.value <= 0) )">
            Please enter a valid quantity
        </div>
        <div class="text-danger" *ngIf="(attemptedClose && (materialQuantity.value!='' && materialQuantity.value > initialBankQuantity + remainingMaterialQuantity) )">
            Not enough raw material quantity (<strong>Max: {{ initialBankQuantity }} + {{ remainingMaterialQuantity }} = {{ initialBankQuantity + remainingMaterialQuantity }} {{editedObjectCopy.quantity_units }}</strong>)
        </div>
        <div class="text-danger" *ngIf="(attemptedClose && (materialQuantity.value!='' && materialQuantity.value > 0 && materialQuantity.value < initialBankInUseQuantity) )">
            Cannot go below {{ initialBankInUseQuantity }} {{editedObjectCopy.quantity_units }}, already in use.
        </div>
    </div>
</div>
</form>
<div>
    <strong>Analysis:</strong><br/>
    <span class="text-success" *ngIf="(this.editedObjectCopy.quantity - this.initialBankQuantity) >= 0">Topping up</span><span class="text-danger" *ngIf="(this.editedObjectCopy.quantity - this.initialBankQuantity) < 0">Reducing</span> by {{ Math.abs(this.editedObjectCopy.quantity - this.initialBankQuantity) }} {{editedObjectCopy.quantity_units }}<br/>
    After this change, the bank will have {{ this.editedObjectCopy.quantity }} {{editedObjectCopy.quantity_units }}<br/>
    {{ initialBankInUseQuantity }} {{editedObjectCopy.quantity_units }} are already in use, {{ this.initialBankRemainingQuantity + (this.editedObjectCopy.quantity - this.initialBankQuantity) }} {{editedObjectCopy.quantity_units }} remaining.<br/>
    Remaining raw material will {{ (this.editedObjectCopy.quantity - this.initialBankQuantity == 0)? "not change" :  (((this.editedObjectCopy.quantity - this.initialBankQuantity < 0) ? "increase" : "reduce") + " from " +  this.raw_material_remaining + " to " +  (this.raw_material_remaining - (this.editedObjectCopy.quantity - this.initialBankQuantity))  + " " + editedObjectCopy.quantity_units) }}.
</div>
</div>
</app-modal-dialog>