<div class="row justify-content-center"><div [attr.class]="'col-12 ' + ((stretchWidth)?'':'col-md-9')">
<h1 *ngIf="showTitle"><span class="icon-address-book"></span> Customers</h1>

<app-page-loading 
  [loading_message]="'Loading customers...'" 
  [icon_size]="'3x'" 
  [hidden]="!loading" 
  [stretch_height]="true" />

<div [hidden]="loading">
  <a id="btnNewRaw" *ngIf="showTitle && ((user$ | async) | hasPermission: [{area: 'customers', permission: 'C'}])" class="btn btn-primary" routerLink="/inventory/customer/editor">+ New customer</a>

  <div class="infotitle" [hidden]="loading || this.customers.length <= 0">Total: {{ totalRecords | number: '1.0-0' }} {{ totalRecords == 1? 'customer':'customers' }}</div>

  <div [hidden]="loading || this.customers.length == 0">
<table class="table table-responsive table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Business name</th>
        <th scope="col" class="text-center">Raw material banks</th>
        <th scope="col" class="text-center">Work allocations</th>
        <td scope="col" class="text-center">Orders</td>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let customer of this.customers" 
        role="button">
        <td routerLink="/inventory/customer/editor" [queryParams]="{ id: customer.id }">{{ customer.name }}</td>
        <td routerLink="/inventory/customer/editor" [queryParams]="{ id: customer.id }">{{ customer.business_name }}</td>
        <td routerLink="/inventory/customer/editor" [queryParams]="{ id: customer.id }" class="text-center">{{ customer.bank_count }}</td>
        <td routerLink="/inventory/customer/editor" [queryParams]="{ id: customer.id }" class="text-center">{{ customer.allocation_count }}</td>
        <td style="width: 1px;">
          <button class="btn btn-outline-primary" style="text-wrap-mode: nowrap;" (click)="go_to_orders(customer.id, customer.name)"><!--(click)="go_to_orders()"-->
            <div><fa-icon [icon]="faBasketShopping"></fa-icon> Orders</div>
          </button>
        </td>        
      </tr>
    </tbody>
  </table>

  <app-paginator #paginator [pages]=4  (onPageChange)="pageChange($event)" />
</div>

  <div [hidden]="loading || this.customers.length > 0" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1; text-align: center;margin: 50px 0;">
    No customers availble.
  </div>
</div>

</div>