:host {
    /*
    display: flex;
    flex-grow: 1;
    justify-content: center;
    */
    flex: 1 1 auto;
    position: relative;
}

#loading_icon {
    height: 100vh !important;
    margin-top: -193px;
    margin-bottom: -85px;
    padding-top: 85px;
}

#loading_message {
    margin-top: 30px;
}

#btnNewRaw {
    margin: 20px 0px;
}

h1 {
    margin-top: 20px;
}

.infotitle {
    margin: 20px 0px 20px 0px;
}

/*
::ng-deep .ng-input input {
    color: var(--bs-body-color) !important;
}

::ng-deep .ng-select-container, ::ng-deep .ng-option
{
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

::ng-deep .ng-option:hover, ::ng-deep .ng-option-marked
{
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;
}

::ng-deep .ng-select .ng-clear-wrapper:hover .ng-clear {
    color: var(--bs-body-color) !important;
}
    */

.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.horizontal-scrollable > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

.shortened {
  white-space: nowrap; 
  width: 125px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}