<app-modal-dialog 
  #notes_editor
  [modalTitle]="'Edit notes'"
  [btnSaveIcon]="faPen"
  [btnSaveText]="'Update'"
  [btnSaveClass]="'btn-primary'"
  [btnCancelText]="'Cancel'"
  [modalSize]="'m'"
  (confirm)="note_editor_confirmed()"
  (cancel)="notes_editor_cancelled()"
  (opened)="notes_editor_opened()">
  <div>Edit white hair notes</div>
  <div>
    <textarea class="form-control" #txtNotes rows="2" (keyup.enter)="notes_editor_enter_pressed()" [(ngModel)]="notes_editor_placeholder"></textarea>
  </div>
</app-modal-dialog>

<div class="row justify-content-center"><div class="col-12">
    <h1><fa-icon [icon]="faBasketShopping"></fa-icon> Orders</h1>
    
    <div id="loading_icon" [hidden]="!loading">
      <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div><fa-icon [icon]="faArrowsRotate" [animation]="'spin'" size="3x"></fa-icon></div>
        <div id="loading_message">Loading orders...</div>
      </div>
    </div>
    
    <div [hidden]="loading">
      <!--<a id="btnNewRaw" class="btn btn-primary" routerLink="/inventory/customer/editor">+ New customer</a>-->
    
      <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
        <a [hidden]="this.customer_id <= 0" style="margin-right: 15px;" class="btn btn-warning" 
          [routerLink]="back_button_link" 
          [queryParams]="{ id: this.customer_id}">
          <fa-icon [icon]="faArrowLeft"></fa-icon> {{ back_button_text }}
        </a>
        <div class="infotitle" [hidden]="loading">
            <div>
                <span [hidden]="this.customer_id > 0"><strong>All orders.</strong></span>
                <span [hidden]="this.customer_id <= 0"><strong>Orders for customer {{ (this.customer_name == "") ? ('#' + this.customer_id) : (this.customer_name) }}.</strong></span>
            </div>
            <div [hidden]="this.orders.length <= 0">
                Total: {{ totalRecords | number: '1.0-0' }} {{ totalRecords == 1? 'order':'orders' }}
            </div>
        </div>
      </div>
    
      <div [hidden]="loading || this.orders.length == 0" class="container-fluid horizontal-scrollable">
        <div class="row">
    <table class="table  table-striped table-hover" style="border-collapse: collapse; width: 100%;"><!--table-responsive-->
        <thead>
          <tr>
            <th scope="col" class="sticky-header">Order</th>
            <th scope="col" class="sticky-header">Status</th>
            <th scope="col" class="sticky-header">Urgent</th>
            <th scope="col" class="sticky-header">Name</th>
            <th scope="col" class="sticky-header">For customer</th>
            <th scope="col" class="sticky-header">Wall</th>
            <th scope="col" class="sticky-header">Kippa</th>
            <th scope="col" class="sticky-header">Wings</th>
            <th scope="col" class="sticky-header">crown</th>
            <th scope="col" class="sticky-header">Crown Visible</th>
            <th scope="col" class="sticky-header">Crown length</th>
            <th scope="col" class="sticky-header">Knife</th>
            <th scope="col" class="sticky-header">White hair</th>
            <th scope="col" class="sticky-header">White hair notes</th>
            <th scope="col" class="sticky-header">Tails</th>
            <th scope="col" class="sticky-header">Date</th>
            <th scope="col" class="sticky-header">Notes</th>
          </tr>
        </thead>
        <tbody>           
          <tr *ngFor="let order of this.orders; index as i" role="button">
            <td (click)="go_to_odrer(order.order_id, customer_id)">{{ order.hat_id_with_customer }}</td>
            <td (click)="go_to_odrer(order.order_id, customer_id)">{{ order.order_status }}</td>
            <td class="editable text-center" (click)="update_boolean_status(updating_urgent_status, i, 'isurgent')"><fa-icon *ngIf="updating_urgent_status[i]" [icon]="faArrowsRotate" [animation]="'spin'"></fa-icon><input *ngIf="!updating_urgent_status[i]" class="form-check-input" type="checkbox" onclick="return false;" [checked]="order.isurgent" /></td>
            <td (click)="go_to_odrer(order.order_id, customer_id)">{{ order.customer_name }}</td>
            <td (click)="go_to_odrer(order.order_id, customer_id)">{{ order.ordering_customer }}</td>
            <td (click)="go_to_odrer(order.order_id, customer_id)">{{ order.wall }}</td>
            <td (click)="go_to_odrer(order.order_id, customer_id)" class="text-center">{{ order.kippa_size }}</td>
            <td (click)="go_to_odrer(order.order_id, customer_id)" class="text-center">{{ order.wing_quantity }}</td>
            <td (click)="go_to_odrer(order.order_id, customer_id)">{{ order.crown }}</td>
            <td (click)="go_to_odrer(order.order_id, customer_id)" class="text-center">{{ order.crown_visible }}</td>
            <td (click)="go_to_odrer(order.order_id, customer_id)" class="text-center">{{ order.crown_length }}</td>
            <td (click)="go_to_odrer(order.order_id, customer_id)" class="text-center">{{ order.knife }}</td>
            <td class="editable text-center" (click)="update_boolean_status(updating_white_hair_status, i, 'white_hair')"><fa-icon *ngIf="updating_white_hair_status[i]" [icon]="faArrowsRotate" [animation]="'spin'"></fa-icon><input *ngIf="!updating_white_hair_status[i]" class="form-check-input" type="checkbox" onclick="return false;" [checked]="order.white_hair" /></td>
            <td class="editable" (click)="edit_white_hair_notes(i)"><fa-icon *ngIf="updating_white_hair_notes_status[i]" [icon]="faArrowsRotate" [animation]="'spin'"></fa-icon><div class="shortened" *ngIf="!updating_white_hair_notes_status[i]">{{ order.white_hair_notes }}</div></td>
            <td (click)="go_to_odrer(order.order_id, customer_id)">{{ order.tails }} (overdrft: {{ order.tails_overdraft }})</td>
            <td (click)="go_to_odrer(order.order_id, customer_id)">{{ order.date  | dateStr }}</td>
            <td class="editable" (click)="edit_order_notes(i)"><fa-icon *ngIf="updating_order_notes_status[i]" [icon]="faArrowsRotate" [animation]="'spin'"></fa-icon><div class="shortened" *ngIf="!updating_order_notes_status[i]">{{ order.order_notes }}</div></td>
          </tr>
        </tbody>
      </table>
    
      
    </div>
    <app-paginator #paginator [pages]=4  (onPageChange)="pageChange($event)" />
    </div>
    
      <div [hidden]="loading || (this.orders.length > 0)" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1; text-align: center;margin: 50px 0;">
        <div *ngIf="this.customer_id <= 0">
            No orders created.<br/>
            They should be submitted by customers.
        </div>
        <div *ngIf="this.customer_id > 0">
            You haven't created any orders yet.<br/>
            <span><a href="" [routerLink]="'/inventory/customer/hat-calculator'" [queryParams]="{ id: this.customer_id}">Go to your hats calculator</a> to submit orders.</span>    
        </div>
      </div>
    </div>
    
    </div>