<div class="row justify-content-center"><div class="col-12 col-md-9">
    <h1><fa-icon [icon]="faBasketShopping"></fa-icon> Orders</h1>
    
    <div id="loading_icon" [hidden]="!loading">
      <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div><fa-icon [icon]="faArrowsRotate" [spin]="true" size="3x"></fa-icon></div>
        <div id="loading_message">Loading orders...</div>
      </div>
    </div>
    
    <div [hidden]="loading">
      <!--<a id="btnNewRaw" class="btn btn-primary" routerLink="/inventory/customer/editor">+ New customer</a>-->
    
      <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
        <a [hidden]="this.customer_id <= 0" style="margin-right: 15px;" class="btn btn-warning" routerLink="/inventory/customer/hat-calculator" [queryParams]="{ id: this.customer_id}"><fa-icon [icon]="faArrowLeft"></fa-icon> Back to calculator</a>
        <div class="infotitle" [hidden]="loading">
            <div>
                <span [hidden]="this.customer_id > 0"><strong>All orders.</strong></span>
                <span [hidden]="this.customer_id <= 0"><strong>Orders for customer {{ (this.customer_name == "") ? ('#' + this.customer_id) : (this.customer_name) }}.</strong></span>
            </div>
            <div [hidden]="this.orders.length <= 0">
                Total: {{ totalRecords | number: '1.0-0' }} {{ totalRecords == 1? 'order':'orders' }}
            </div>
        </div>
      </div>
    
      <div [hidden]="loading || this.orders.length == 0" class="container horizontal-scrollable">
        <div class="row">
    <table class="table table-responsive table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Order</th>
            <th scope="col">Status</th>
            <th scope="col">Urgent</th>
            <th scope="col">Name</th>
            <th scope="col">Wall</th>
            <th scope="col">Kippa</th>
            <th scope="col">Wings</th>
            <th scope="col">crown</th>
            <th scope="col">Crown Visible</th>
            <th scope="col">Crown length</th>
            <th scope="col">Knife</th>
            <th scope="col">White hair notes</th>
            <th scope="col">White hair</th>
            <th scope="col">Tails</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>           
          <tr 
            *ngFor="let order of this.orders" 
            role="button" routerLink="/inventory/customer/order/editor" [queryParams]="{ id: order.id, customer_id: customer_id }">
            <td>{{ order.order_id_with_customer }}</td>
            <td>{{ order.order_status }}</td>
            <td><input class="form-check-input" type="checkbox" onclick="return false;" [checked]="order.isurgent" /></td>
            <td>{{ order.customer_name }}</td>
            <td>{{ order.wall }}</td>
            <td>{{ order.kippa_size }}</td>
            <td>{{ order.wing_quantity }}</td>
            <td>{{ order.crown }}</td>
            <td>{{ order.crown_visible }}</td>
            <td>{{ order.crown_length }}</td>
            <td>{{ order.knife }}</td>
            <td><div class="shortened">{{ order.white_hair_notes }}</div></td>
            <td><input class="form-check-input" type="checkbox" onclick="return false;" [checked]="order.white_hair" /></td>
            <td>{{ order.tails }}</td>
            <td>{{ order.date  | dateStr }}</td>
          </tr>
        </tbody>
      </table>
    
      
    </div>
    <app-paginator #paginator [pages]=4  (onPageChange)="pageChange($event)" />
    </div>
    
      <div [hidden]="loading || (this.orders.length > 0)" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1; text-align: center;margin: 50px 0;">
        <div *ngIf="this.customer_id <= 0">
            No orders created.<br/>
            They should be submitted by customers.
        </div>
        <div *ngIf="this.customer_id > 0">
            You haven't created any orders yet.<br/>
            <span><a href="" [routerLink]="'/inventory/customer/hat-calculator'" [queryParams]="{ id: this.customer_id}">Go to your hats calculator</a> to submit orders.</span>    
        </div>
      </div>
    </div>
    
    </div>