.addnew-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.row-buttons button {
    width: 120px;
    margin: 10px 0px;
}

.formlabel {
    font-family: var(--bs-body-font-family);
    font-size: 15px;
    font-weight: 500;
    color: var(--bs-gray);
    margin-bottom: 7px;
}

.autocomplete-container, .ng-autocomplete {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.babies-counter {
    margin-top: 14px;
}

::ng-deep .autocomplete-container.active {
    z-index: 9999 !important;
}

::ng-deep .ng-autocomplete {
    width: auto !important;
}

::ng-deep .input-container input {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

::ng-deep .suggestions-container a {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

::ng-deep .suggestions-container a:hover {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;
}

::ng-deep .autocomplete-container {
    box-shadow: none !important;
    height: auto !important;
}

::ng-deep .autocomplete-container .input-container .x i {
    color: var(--bs-body-color) !important;
}

::ng-deep .autocomplete-container .not-found {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;    
}

.expand-balloon {
    width:50px; 
    position: relative; 
    top: -22px;
    right: -7px;
    padding: 8px;    
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .4s;
    border: 0;
}

.expand-balloon-visible {
    opacity: 1;
}

tr:has(.expand-balloon-visible){
    border-top: 5px solid rgb(86, 124, 86);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;    
}

.expand-balloon::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}