.user-initials {
    border: 1px solid;
    border-radius: 50%;
    text-transform: capitalize;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-initials img{
    padding: 0px;
    border-radius: 50%;
    width: 100%;
    height: 100%;  
}

.capitalize {
    text-transform: capitalize;
}

.status-verified {
    color: var(--bs-success);
}

.status-disabled {
    color: var(--bs-danger);
}

.status-pending {
    color: var(--bs-warning);
}