<div>
    <fieldset class="border">
        <div class="logo"></div>
    <div>
        <h2 class="form-title">Sign in</h2>
    </div>

<div class="form-floating">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">User or email</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Remember me on this device
  </label>
</div>
<button type="button" class="btn btn-success">Sign in</button>
<div class="help-link">
    <a href="#">Forgot your password?</a>
</div>
<div  class="help-link">No account? <a href="#">Click here to request one</a></div>
</fieldset>
</div>

