<form novalidate #account_request_form="ngForm" [id]="'account_request_form'" (keyup.enter)="get_data()">
<div>
If you don't have an account (and you think you should have one), fill your details below, to request one.
</div>
<div class="row mt-4">
    <div class="col-12 col-sm-6">
      <div class="form-floating">
        <input 
          type="text" 
          class="form-control" 
          id="input_firstname" 
          placeholder="First name" 
          [(ngModel)]="request.firstname" 
          #input_firstname="ngModel" 
          name="input_firstname" 
          [required]="true"
          [pattern]="'^[a-zA-Z\\ \\-]*$'">
        <label for="input_firstname">First name <span class="text-danger">*</span></label>
      </div> 
      <div class="text-danger" *ngIf="input_firstname.invalid && (input_firstname.touched || input_firstname.dirty)" > 
          <span *ngIf="input_firstname.errors?.['required']">First name is required</span>
          <span *ngIf="input_firstname.errors?.['pattern']">Use only letters, space or -</span>
      </div>
    </div>

    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
      <div class="form-floating">
        <input 
          type="text" 
          class="form-control" 
          id="input_lastname" 
          placeholder="Last name" 
          [(ngModel)]="request.lastname" 
          #input_lastname="ngModel" 
          name="input_lastname" 
          [required]="true"
          [pattern]="'^[a-zA-Z\\ \\-]*$'">
        <label for="input_lastname">Last name <span class="text-danger">*</span></label>
      </div> 
      <div class="text-danger" *ngIf="input_lastname.invalid && (input_lastname.touched || input_lastname.dirty)" > 
          <span *ngIf="input_lastname.errors?.['required']">Last name is required</span>
          <span *ngIf="input_lastname.errors?.['pattern']">Use only letters, space or -</span>
      </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12 col-sm-6">
      <div class="form-floating">
        <input 
          type="email" 
          class="form-control" 
          id="input_email" 
          placeholder="name@example.com" 
          [(ngModel)]="request.email" 
          #input_email="ngModel" 
          name="input_email" 
          [required]="true"
          [email]="true">
        <label for="input_email">email <span class="text-danger">*</span></label>
      </div>
      <div class="text-danger" *ngIf="input_email.invalid && (input_email.touched || input_email.dirty)" > 
          <span *ngIf="input_email.errors?.['required']">Email is required</span>
      </div>
      <div class="text-danger" *ngIf="input_email.errors?.['email'] && (input_email.touched || input_email.dirty)" > 
          <span *ngIf="input_email.errors?.['email']">Please enter a valid email</span>
      </div>
    </div>

        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
        <div class="form-floating">
            <input type="tel" 
                id="user_phone" class="form-control" placeholder="0" [(ngModel)]="request.phone" name="user_phone" #user_phone="ngModel" [required]="true">
            <label for="user_phone">Phone number <span class="text-danger">*</span></label>
        </div>
        <div class="text-danger" *ngIf="user_phone.invalid && (user_phone.touched || user_phone.dirty)" > 
            <span *ngIf="user_phone.errors?.['required']">Phone number is required</span>
        </div>        
    </div>

</div>

<div class="row mt-4">
    <div class="col-12">
    <div class="form-floating">
    <textarea class="form-control" rows="2" style="height: 100px" placeholder="Give some details" id="user_details" [(ngModel)]="request.details" name="user_details" #user_details="ngModel"></textarea>
    <label for="floatingTextarea">Give some details</label>
    </div>
    </div>
</div>
</form>