

<app-modal-dialog #dialogWrapper>
    <app-babies-length-picker modalContent
        [length]="this.editedObject.length" 
        (lengthChange)="lengthClicked($event)"
        />
    <div class="crown-size-wrapper" [class.d-none]="!this.editedObject.position.toLocaleUpperCase().startsWith('C')">
        Select the number of crown babies
        <select class="crown-size" #crown_size [(ngModel)]="this.crown_units" (change)="crown_units_changed()">
            <option *ngFor="let i of this.crown_babies_options" value={{i}} [ngValue]="i">{{i}}</option>
        </select>
    </div>
</app-modal-dialog>