.nav-item {
    cursor: pointer;
}
.settings-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.settings-title, .settings-contents  {
    margin: 30px 0px;
}

.settings-title button {
    margin-left: 20px;
}