
<div class="backup-container">
    <h3><fa-icon [icon]="faCloudDownload" class="action-icon"></fa-icon> Create backup</h3>
    <p>
        Click the button to download a backup of the current system state
    </p>

    <div>
        <div class="switch-group form-check form-switch">
          <input class="form-check-input" type="checkbox" id="chk_alert_customer_bank_kg" name="chk_alert_customer_bank_kg" [(ngModel)]="downloadZip">
          <label class="form-check-label" for="chk_alert_customer_bank_kg">
              Download zipped file
          </label>
        </div>

        <div class="switch-group form-check form-switch">
            <input class="form-check-input" type="checkbox" id="chk_alert_customer_bank_kg" name="chk_alert_customer_bank_kg" [(ngModel)]="deleteExistingRecords">
            <label class="form-check-label" for="chk_alert_customer_bank_kg">
                Include deletion of existing system data
            </label>
          </div>
      </div>    

    <button type="button" class="btn btn-primary" (click)="get_backup()">
        <fa-icon [icon]="faCloudDownload" class="action-icon"></fa-icon>
        Download backup!
    </button>
</div>
