<app-confirmation-dialog 
    #delete_confirmation 
    modalTitle="Delete confirmation"
    modalText="Are you sure you want to delete this hat, {{ hat.name }}?"
    [btnYesIcon]=faTrashAlt
    btnYesText="Delete"
    btnYesClass="btn-danger">
</app-confirmation-dialog>

<div class="row justify-content-center">
<div class="col-lg-7 col-md-12">

    <h3><span class="icon-hat"></span> {{ this.title }}</h3>
    <form novalidate #hatForm="ngForm">
        <div class="editorForm">
        <div class="row">
            <div class="col-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="hatName" #hatName="ngModel" [(ngModel)]="hat.name" name="hatName" required>
                    <label for="hatName">Hat name <span class="text-danger">*</span></label>
                </div>
                <div class="text-danger" *ngIf="hatName.invalid && (hatName.touched || hatName.dirty)" > 
                    <span *ngIf="hatName.errors?.['required']">Please enter a name for the hat</span>
                    <!-- span *ngIf="firstName.errors?.['minlength']">Min 3 Charactors Needed</span --> 
                </div>            
            </div>
            <div class="col-2">
                <button class="btn btn-warning upper-button" (click)="gotoHatsList()">
                    <div class="btn-icon"><fa-icon [icon]="faArrowLeft"></fa-icon></div>
                </button>
            </div>
            <div class="col-2">
                <button #btn_save class="btn btn-success upper-button" type="submit" (click)="save()" title="Save changes"><!--[disabled]="!raw_material_form.form.valid"-->
                    <div class="btn-icon"><fa-icon [icon]="faSave"></fa-icon></div>
                </button>
            </div>
            <div class="col-2">
                <button class="btn btn-danger upper-button" (click)="confirm_delete()" *ngIf="!this.is_new_hat">
                    <div class="btn-icon"><fa-icon [icon]="faTrashAlt"></fa-icon></div>
                </button>

            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="wings_label"><span class="icon-feather-wing"></span> Wings in this hat:</div>
                <div class="wing_row">
                    <div>
                        <ng-select 
                            name="wing_name_selector" 
                            [clearable]="true" 
                            [addTag]="addWingNameToList"
                            [items]="wing_names"
                            addTagText="Add wing name"
                            (change)="wing_name_change($event)"
                            [className]="'selector'"
                            [(ngModel)]="active_wing_name">
                        </ng-select>
                    </div>
                    <div>x</div>
                    <div>
                        <input class="number_selector" type="number" #numberOfWings name="numberOfWings">
                    </div>
                </div>
            </div>
        </div>

        <div class="row materials-picker-container">
            <div class="col-6">
                <div class="wings_label"><span class="icon-wall-bricks"></span> Wall material</div>
                <div class="ng-autocomplete">
                    <ng-autocomplete 
                      [data]="raw_material_names"
                      placeholder="Add wall material"
                      [itemTemplate]="itemTemplate"
                      [(ngModel)]="hat.hat_material"
                      [className]="'form-control form-control-plaintext'"
                      name="hatmaterialName"
                      (inputChanged)="wall_material_changed($event)"
                      (selected)="wall_material_changed($event)"
                      (inputCleared)="wall_material_cleared()"
                      #hatmaterialName="ngModel">
                    </ng-autocomplete><!--
                                          (selected)='selectEvent($event)'
                      (inputChanged)='onChangeSearch($event)'
                      (inputFocused)='onFocused($event)'
                      (inputCleared)='onCleared($event)'
                    [notFoundTemplate]="notFoundTemplate"-->
                    
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item"></a>
                    </ng-template>
                    <!--
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>-->
                </div>
        </div>
            <div class="col-6">
                <div  class="wings_label"><span class="icon-crown"></span> Crown material</div>
                <div class="ng-autocomplete">
                    <ng-autocomplete 
                      [data]="raw_material_names"
                      placeholder="Add crown material"
                      [itemTemplate]="itemTemplate"
                      [(ngModel)]="hat.crown_material"
                      [className]="'form-control form-control-plaintext'"
                      name="crownmaterialName"
                      #crownmaterialName="ngModel">
                    </ng-autocomplete><!--
                                          (selected)='selectEvent($event)'
                      (inputChanged)='onChangeSearch($event)'
                      (inputFocused)='onFocused($event)'
                      (inputCleared)='onCleared($event)'
                    [notFoundTemplate]="notFoundTemplate"-->
                    
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item"></a>
                    </ng-template>
                    <!--
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>-->
                </div>
                </div>



            </div>

        <div class="row">
            <div class="col-12">
                <div class="no-wing-loaded" *ngIf="!wing_loaded">Choose a wing to preview it</div>
                <div class="no-wing-loaded" *ngIf="wing_loaded && !wing_exists">
                    <div>No wing exists with name <span class="wing_name">{{ active_wing_name }}</span>.</div>
                    Save this hat and go to create a new wing!
                    <div class="btn_save_special_container">
                        <button #btn_save class="btn btn-primary" type="submit" (click)="save(true)">
                            <div class="btn-icon"><fa-icon [icon]="faSave"></fa-icon> + <span class="icon-feather-wing"></span></div>
                            <div>Save Hat and create wing!</div>
                        </button>
                    </div>
                </div>
                <app-wing-diagram
                    #diagram 
                    [lefts]="this.wing.babies | prefix: 'L' : true"
                    [rights]="this.wing.babies | prefix: 'R' : true"
                    [top_length]="this.wing.babies | prefix: 'TOP' : true"
                    [crown]="this.wing.babies | prefix: 'C' : true"
                    [width]="wing.width"
                    *ngIf="wing_exists && wing_loaded"
                 />
            </div>
        </div>

        <div class="row buttons-area">
            <div class="col-12 d-flex justify-content-center {{ this.is_new_hat? 'col-md-6':'col-md-4' }}">
                <button class="btn btn-warning" (click)="gotoHatsList()">
                    <div class="btn-icon"><fa-icon [icon]="faArrowLeft"></fa-icon></div>
                    <div>Cancel Chages</div>
                </button>
            </div>
                        
                <div class="col-12 d-flex justify-content-center {{ this.is_new_hat? 'col-md-6':'col-md-4' }}">
                    <button #btn_save class="btn btn-success" type="submit" (click)="save()"><!--[disabled]="!raw_material_form.form.valid"-->
                        <div class="btn-icon"><fa-icon [icon]="faSave"></fa-icon></div>
                        <div>Save Hat</div>
                    </button>
                </div>

                <div class="col-12 d-flex justify-content-center col-md-4" *ngIf="!this.is_new_hat">
                    <button class="btn btn-danger" (click)="confirm_delete()">
                        <div class="btn-icon"><fa-icon [icon]="faTrashAlt"></fa-icon></div>
                        <div>Delete Hat</div>
                    </button>
                </div>
        </div>

    </div>
</form>


</div>

</div>
