.editorForm div.col {
    /*height: calc(3.5rem + calc(var(--bs-border-width)* 2));*/
    margin: 8px 0px;
}

h3 {
    margin: 25px 0;
}

.buttons-area button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 19px;
    margin: 10px 0;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .buttons-area button {
        height: 80px;
    }
}
@media screen and (min-width: 1200px) {
    .buttons-area button {
        width: 80%;
    }
}

.no-wing-loaded {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}

.wing_name {
    font-weight: 700;
}


.selector {
    width: 200px;
}

.wing_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.number_selector {
    text-align: center;
}

.wings_label {
    margin-bottom: 3px;
    font-family: var(--bs-body-font-family);
    font-size: 15px;
    font-weight: 400;
    color: var(--bs-gray);
}

.wings_label span {
    margin-right:7px;
    font-size: 18px;
}

.controls-table td {
    vertical-align: middle;
    padding: 6px 9px;
}

::ng-deep.ng-select-container, .number_selector {
    height: calc(3.5rem + calc(var(--bs-border-width)* 2)) !important;
    min-width: 50px;
}

::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input>input {
    position: relative;
    top: 12px;
}

.btn_save_special_container {
    margin: 20px 0px;
}

.ng-autocomplete {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

::ng-deep .autocomplete-container.active {
    z-index: 9999 !important;
}

::ng-deep .ng-autocomplete {
    width: auto !important;
}

::ng-deep .input-container input {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

::ng-deep .suggestions-container a {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

::ng-deep .suggestions-container a:hover {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;
}

::ng-deep .autocomplete-container {
    box-shadow: none !important;
    height: auto !important;
}

::ng-deep .autocomplete-container .input-container .x i {
    color: var(--bs-body-color) !important;
}

::ng-deep .autocomplete-container .not-found {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;    
}

.materials-picker-container {
    margin-top: 15px;
    margin-bottom: 15px;
}



//---------------------------------
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .drop-area {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .drop-area p {
    margin: 0;
    color: #777;
  }
  
  .drop-area.dragover {
    background-color: #f0f0f0;
    border-color: #007bff;
  }
  
  .browse-text {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .preview-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }
  
//---------------------------------