<!-- dialogs-->
<app-confirmation-dialog 
    #reset_confirmation 
    modalTitle="Reset customizations"
    modalText="Are you sure you want to reset the changes made to this wing?"
    [btnYesIcon]=faArrowsRotate
    btnYesText="Reset"
    btnYesClass="btn-danger">
</app-confirmation-dialog>

<app-confirmation-dialog 
    #order_confirmation 
    modalTitle="Order confirmation"
    modalText="This will issue an order of {{ order_amount }} {{ order_amount == 1 ? 'hat' : 'hats' }}.<br/>Quota will be reduced from your banks.<br/>Are you sure?"
    [btnYesIcon]=faBasketShopping
    btnYesText="Place order!"
    btnYesClass="btn-success"
    btnNoText="Cancel">
</app-confirmation-dialog>

<app-hat-allocation-editor-picker 
  #allocation_picker 
  (customer_updated)="update_customer($event)"
  [num_wings_per_hat]="this.customerHat.wing_quantity"
  />

<app-baby-length-modal 
  #length_editor 
  (length_changed)="modal_length_Changed($event)" 
  (confirm)="length_editor_closed($event)" 
  />

<app-modal-dialog 
  #crown_editor_dialog
  [modalTitle]="'Edit crown'"
  [btnSaveText]="'Close'"
  [btnCancelClass]="'d-none'"
  [modalSize]="'l'">
    <app-crown-editor 
        [crown_babies]="(this.customerHat.wing)? (this.customerHat.wing.babies | sortbabies | prefix: 'C'): []"
        (crown_babiesChanged)="onCrownBabiesChanged($event)"
        [wing_id]="(this.customerHat.wing)? (this.customerHat.wing.id): 0"
        [crown_width]="(this.customerHat.wing)? (this.customerHat.wing.crown_width): 1"
        (crown_widthChange)="onCrownWidthChanged($event)"
    />  
</app-modal-dialog>

<app-modal-dialog 
  #order_wing_adjustment
  [modalTitle]="'Fine-tune your order'"
  [btnSaveIcon]="faBasketShopping"
  [btnSaveText]="'Place order!'"
  [btnSaveClass]="(max_number_of_wings_in_all_allocations > 0)? 'btn-success' : 'd-none'"
  [btnCancelText]="(max_number_of_wings_in_all_allocations > 0)? 'Cancel': 'Close'"
  [modalSize]="'xl'">
  <div class="order_adjustment_dialog" *ngIf="max_number_of_wings_in_all_allocations <= 0">
    You do not have sufficient wings to produce hats!
  </div>
  <div class="order_adjustment_dialog" *ngIf="max_number_of_wings_in_all_allocations > 0">
    
    <div>You can produce a total of {{ max_number_of_wings_in_all_allocations }} wings with your allocations</div>
    <div>In all hats, you are now using {{ allWingsInOrder }} wings</div>
    <div class="d-flex flex-row align-items-center" style="margin: 15px 0px;">
      <div>0</div>
      <div class="progress" style="flex-grow:1; margin: 0px 15px;">    
      <div class="bg-info"
        role="progressbar" 
        [style.width.%]="((allWingsInOrder)*100/max_number_of_wings_in_all_allocations)" 
        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div>{{ max_number_of_wings_in_all_allocations }}</div>
    </div>


    <table class="table table-responsive">
      <th>Hat in order</th>
      <th class="text-center">Number of wings</th>
      <th class="text-center">Babies per hat</th>
      <th class="text-center" style="white-space: nowrap; width: 250px;">Customer</th>
      <th>Kippa size</th>
      <tr *ngFor="let order of this.customerHat.single_hat_orders; let i = index; trackBy: trackByOrder"><!--trackBy: trackByIndex-->
        <td>Hat #{{ i+1 }}</td>
        <td class="d-flex justify-content-center">
          <!--{{order.wing_quantity}}-->
          
          <input 
            class="form-control" 
            type="number" 
            [(ngModel)]="order.wing_quantity"
            style="width: 120px; text-align: center;" 
            min="0"
            [attr.max]="(max_number_of_wings_in_all_allocations) ? (order.wing_quantity + (max_number_of_wings_in_all_allocations - allWingsInOrder)) : 0"
            (input)="dont_exceed_max_wings($event, i)"
              />
        </td>
        <td class="text-center">{{ order.wing_quantity * (this.customerHat.wing? this.customerHat.wing.babies.length : 0) }}</td>
        <td class="d-flex flex-row" style="padding: 0px 15px;">
          <div [className]="(i==0? 'input-group':'')">
            <input 
              class="form-control" 
              type="text"
              [(ngModel)]="order.ordering_customer_name"
              />
             <div class="input-group-append" *ngIf="i==0">
              <button 
                class="btn btn-outline-primary"
                style="border-top-left-radius: 0; border-bottom-left-radius: 0;"
                type="button" (click)="duplicate_customer_name()"><!--[className]="'btn btn-primary ' + (i==0? '':'in') + 'visible'"-->
                <fa-icon [icon]="faCopy"></fa-icon>
                <fa-icon [icon]="faArrowDown"></fa-icon>
              </button>
            </div>
          </div>
        </td>
        <td>
          <!--
          <select class="form-select" [(ngModel)]="order.kippa_size" style="max-width: 180px;">
            <option 
              *ngFor="let kippa of arr_kippa" 
              value="{{ kippa }}"
              >
                {{ kippa  | number : '1.1-1' }} cm
            </option>
          </select>
        -->
       <ng-select
          #select_kippa
          placeholder="Kippa size"
          [(ngModel)]="kippa_size"
          name="select_kippa"
          [clearable]="false"
          [disabled]="false"
          [searchable]="false">
          <ng-option
            *ngFor="let item of arr_kippa"
            [value]="item.cm"
            [disabled]="item.disabled">
            <div  [ngClass]="{ 'option-table': true, 'option-2-col': true, 'no-pad':true, 'text-danger': item.disabled }">
              <div class="cell">{{ item.cm | number:'1.2-2' }} cm</div>
              <div class="cell">{{ item.inches | number:'1.2-2' }}"</div>
            </div>
          </ng-option>
        </ng-select>              
        </td>
      </tr>
    </table>
  </div>
</app-modal-dialog>


  <!-- Entire page layout -->
<div class="row justify-content-center">
  <div class="col-xl-9 col-lg-11">

    <!-- Top buttons row -->
    <div class="row">
      <div class="col" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-top: 13px;">
        <button class="btn btn-warning" [routerLink]="'/inventory/customer/editor'" [queryParams]="{ id: this.customer.id }">
          <div><fa-icon [icon]="faArrowLeft"></fa-icon> Back to {{ customer.name }}'s page</div>
        </button>
        <button class="btn btn-success" (click)="go_to_orders()">
          <div><fa-icon [icon]="faBasketShopping"></fa-icon> Your orders</div>
        </button>
      </div>
    </div>
    <!--/Top buttons row -->

    <!-- Row for choosing a wing design-->
    <div class="row">
      <div class="col">
        <div style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; border: 1px solid; border-radius: 10px; margin: 20px 0px;padding: 20px;">
        <div style="margin-right: 10px;">
          Choose a wing design
        </div>
        <div style="margin-right: 10px;">
          <ng-select
            #wing_selector
            placeholder="Select a wing"
            (change)="wing_selected(selected_wing_id)"
            (clear)="wing_cleared()"
            [items]="wings"
            bindLabel="name"
            bindValue="id"
            [(ngModel)]="selected_wing_id"        
            >
            @for (wing of wings; track wing) {
              <ng-option [value]="wing.id"><span [className]="(wing.customer_id)? 'text-primary' : ''">{{ wing.name }} {{ (wing.customer_id)?' (private)':'' }}</span></ng-option>
            }
          </ng-select>
        </div>
        <div *ngIf="is_wing_customized"style="margin-right: 10px;">
          <span class="text-danger" style="margin-right: 10px;">* Wing customized</span>
          <button class="btn btn-warning" (click)="confirm_reset()">
            <fa-icon [icon]="faArrowsRotate"></fa-icon>
            Reset
          </button>
        </div>
      </div>
    </div>
    </div>
    <!--/Row for choosing a wing design-->

    <!-- Everything else (once a wing is selected) -->
    <div [className]="(this.customerHat.wing)? '':'d-none'">

      <!--------- NEW LAYOUT --------->
      <div class="row align-items-center">
        <!-- Sidebar allocation picker -->
        <div class="col-12 col-md-4">

          <!-- Wall allocation section -->
          <div class="hat-info-section">
            <div [hidden]="raw_material_names.length == 0">
              <div><strong>Wall material:</strong></div>
              <div class="ng-autocomplete">
                <ng-select
                  #wing_selector
                  placeholder="Wall material"
                  (change)="wall_material_changed($event)"
                  (clear)="wall_material_cleared()"
                  [items]="raw_material_names_babies"
                  bindLabel="name"
                  bindValue="id"
                  [(ngModel)]="customerHat.hat_material_id"        
                  >
                    <ng-template ng-label-tmp let-item="item">
                        <span [className]="'color color-' + ((item && item.color)? item.color.toLowerCase().replace(' ', '-'): '')"></span> {{item.name}} - {{ item.color }}
                    </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index">
                          <span [className]="'color color-' + ((item && item.color)? item.color.toLowerCase().replace(' ', '-'): '')"></span> {{item.name}} - {{ item.color }}
                      </ng-template>          
                </ng-select>
              </div>
              <div class="sub-info-section">
                <strong>Material allocation:</strong>
              </div>
              <div *ngIf="customerHat.hat_material_id">
                <div>
                  <div *ngIf="wall_alocation" class="text-success">
                    Allocation #{{ wall_alocation.id }}, {{ wall_alocation.quantity | number : '1.1-1' }} {{ wall_allocation_units }}
                  </div>
                  <div *ngIf="!wall_alocation">
                    <span class="text-danger">Choose an allocation</span>
                  </div>
                </div>
                <div class="section-btn-wrapper">
                  <button  
                    class="btn btn-success" 
                    style="padding: 0px 11px 1px 5px;" 
                    (click)="open_material_allocation_picker(customerHat.hat_material_id, 'wall')">
                    <span class="icon-baby"></span>
                    Choose allocation
                  </button>
                </div>
              </div>
              <div class="text-warning" *ngIf="raw_material_names_babies.length > 0 && customerHat.hat_material_id == null">
                Choose a material to get started
              </div>
              <!--
              <div *ngIf="raw_material_names_babies.length > 0 && customerHat.hat_material_id != null && num_of_allocations_with_wall_material <= 0">
                <span class="text-danger">No baby allocations with this material</span>
              </div>
              -->
            </div>
            <div *ngIf="raw_material_names.length == 0" class="text-danger d-flex flex-column align-items-center">
              <fa-icon [icon]="faTriangleExclamation" class="text-danger"></fa-icon>
              <span class="text-center">No banks with raw materials assigned to this customer!</span>
            </div>
          </div>
          <!--/Wall allocation section -->

          <!-- Crown allocation section -->
          <div class="hat-info-section" [hidden]="raw_material_names.length == 0">
            <div><strong>Crown material:</strong></div>
            <div class="ng-autocomplete">
              <ng-select
                #wing_selector
                placeholder="Crown material"
                (change)="crown_material_changed($event)"
                (clear)="crown_material_cleared()"
                [items]="raw_material_names_babies"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="customerHat.crown_material_id">
                  <ng-template ng-label-tmp let-item="item">
                      <span [className]="'color color-' + ((item && item.color)? item.color.toLowerCase().replace(' ', '-'): '')"></span> {{item.name}} - {{ item.color }}
                  </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        <span [className]="'color color-' + ((item && item.color)? item.color.toLowerCase().replace(' ', '-'): '')"></span> {{item.name}} - {{ item.color }}
                    </ng-template>          
              </ng-select>
            </div>

          <div class="sub-info-section">
              <strong>Material allocation:</strong>
          </div>
          <div *ngIf="customerHat.crown_material_id">
            <div>
              <div *ngIf="crown_allocation" class="text-success">
                Allocation #{{ crown_allocation.id }}, {{ crown_allocation.quantity | number : '1.1-1' }} {{ crown_allocation_units }}
              </div>
              <div *ngIf="!crown_allocation">
                <span class="text-danger">Choose an allocation</span>
              </div>
            </div>
            <div class="section-btn-wrapper">
              <button  
                class="btn btn-success" 
                style="padding: 0px 11px 1px 5px;" 
                (click)="open_material_allocation_picker(customerHat.crown_material_id, 'crown')">
                <span class="icon-baby"></span>
                Choose allocation
              </button>
            </div>
          </div>
              <div class="text-warning" *ngIf="raw_material_names_babies.length > 0 && customerHat.crown_material_id == null">
                Choose a material to get started
              </div>
              <!--
              <div *ngIf="raw_material_names_babies.length > 0 && customerHat.crown_material_id != null && num_of_allocations_with_crown_material <= 0">
                <span class="text-danger">No baby allocations with this material</span>
              </div>
              -->
        </div>
    <!--/Crown allocation section -->

    <!-- Tails allocation section -->
    <div class="hat-info-section" [hidden]="raw_material_names.length == 0">
      <div><strong>H material:</strong></div>
      <div class="ng-autocomplete">
        <ng-select
          #wing_selector
          placeholder="H material"
          (change)="tails_material_changed($event)"
          (clear)="tails_material_cleared()"
          [items]="raw_material_names_tails"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="customerHat.tails_material_id">
            <ng-template ng-label-tmp let-item="item">
                <span [className]="'color color-' + ((item && item.color)? item.color.toLowerCase().replace(' ', '-'): '')"></span> {{item.name}} - {{ item.color }}
            </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index">
                  <span [className]="'color color-' + ((item && item.color)? item.color.toLowerCase().replace(' ', '-'): '')"></span> {{item.name}} - {{ item.color }}
              </ng-template>          
        </ng-select>
      </div>

    <div class="sub-info-section">
        <strong>Material allocation:</strong>
    </div>
    <div *ngIf="customerHat.tails_material_id">
      <div>
        <div *ngIf="tails_allocation" class="text-success">
          Allocation #{{ tails_allocation.id }}, {{ tails_allocation.quantity | number : '1.1-1' }} {{ tails_allocation_units }} ({{tails_allocation.tails_quantity}} tails)
        </div>
        <div *ngIf="!tails_allocation">
          <span class="text-warning">Choose an allocation (optional)</span>
        </div>
      </div>
      <div class="section-btn-wrapper">
        <button  
          class="btn btn-success" 
          style="padding: 0px 11px 1px 5px;" 
          (click)="open_material_allocation_picker(customerHat.tails_material_id, 'tails')">
          <span class="icon-tails"></span>
          Choose allocation
        </button>
      </div>
    </div>
      <div class="text-warning" *ngIf="raw_material_names_tails.length > 0 && customerHat.tails_material_id == null">
        Choose a material to get started
      </div>
      <!--
      <div *ngIf="raw_material_names_tails.length > 0 && customerHat.tails_material_id != null && num_of_allocations_with_tails_material <= 0">
        <span class="text-danger">No baby allocations with this material</span>
      </div>
      -->
  </div>
  <!--/Tails allocation section -->    

    <!-- Wing number picker -->
    <div class="hat-info-section" [hidden]="raw_material_names.length == 0">
      <div><strong>Number of wings:</strong></div>
      <div>{{ (customerHat.wing)? this.selected_wing_name : 'Loading wing' }} x {{ customerHat.wing_quantity }}
        <!--
        <input type="number" [(ngModel)]="customerHat.wing_quantity" style="width: 70px; text-align: center;" (change)="num_of_wings_changed()" (keyup)="num_of_wings_changed()" min="1" />
        -->
      </div>
      <div style="font-size: 12px;">
        Based on diameter {{ this.diameter_inches }}" and crown width {{ this.customerHat.wing?.crown_width }} cm
      </div>
    </div>
    <!--/Wing number picker -->
  
  </div>
   <!--/Sidebar allocation picker -->

   <!-- Diagram area -->
  <div class="col-12 col-md-8">
    <div>
      <app-wing-diagram
          #diagram 
          [scale]="0.7"
          [lefts]="(this.customerHat.wing)? (this.customerHat.wing.babies | sortbabies | prefix: 'L' : true) : []"
          [rights]="(this.customerHat.wing)? (this.customerHat.wing.babies | sortbabies | prefix: 'R' : true) : []"
          [top_length]="(this.customerHat.wing)? (this.customerHat.wing.babies | sortbabies | prefix: 'TOP' : true) : []"
          [crown]="(this.customerHat.wing)? (this.customerHat.wing.babies | sortbabies | prefix: 'C' : true) : []"
          [knife]="(this.customerHat.wing)? (this.customerHat.wing.knife) : 0"
          [split_l1]="(this.customerHat.wing)? (this.customerHat.wing.split_l1) : 1"
          (babyClicked)="diagram_baby_clicked($event)"
      />
      </div>
      <div>
  </div>
</div>
<!--/Diagram area -->

</div>
<!---------/NEW LAYOUT --------->

<!-- All other stuff. Don't show if there are no materials to choose-->
<div [hidden]="raw_material_names.length == 0">

<!-- Sliders and other controls -->
<div class="row">
  <!-- sliders -->
  <div class="col-12 col-md-6">
    <div class="hat-info-section">

      <div style="margin-bottom: 15px;"><strong>Hat tweaks:</strong></div>
      
      <div class="d-flex flex-row align-items-center">
        <div style="min-width: 200px;"><fa-icon [icon]="faScissors" style="margin-right: 5px;"></fa-icon><label for="tempB">Shorten top by:</label> {{ customerHat.shorten_top_by | number : '1.1-1' }} cm<br /></div>
        <div class="flex-grow-1" style="margin-left: 15px;">
          <input type="range" id="margin_top" name="margin_top" [(ngModel)]="customerHat.shorten_top_by" list="values" min="{{baby_margin_min}}" max="{{baby_margin_max}}" step="{{baby_margin_step}}" (change)="margins_changed()"/>
          <datalist id="values">
            <ng-container *ngFor="let margin_length of baby_margins_list">
              <option value="{{ margin_length }}" label="{{ margin_length | number : '1.1-1' }}"></option>
            </ng-container>
          </datalist>
        </div>
      </div>
      
      <div class="d-flex flex-row align-items-center">
        <div  style="min-width: 200px;"><fa-icon [icon]="faScissors" style="margin-right: 5px;"></fa-icon><label for="tempB">Shorten crown by:</label>  {{ customerHat.shorten_crown_by | number : '1.1-1' }} cm<br /></div>
        <div class="flex-grow-1" style="margin-left: 15px;">
          <input type="range" id="margin_crown" name="margin_crown" [(ngModel)]="customerHat.shorten_crown_by" list="crown_values" min="{{baby_margin_min}}" max="{{baby_margin_max}}" step="{{baby_margin_step}}" (change)="margins_changed()" />
          <datalist id="crown_values">
            <ng-container *ngFor="let margin_length of baby_margins_list">
              <option value="{{ margin_length }}" label="{{ margin_length | number : '1.1-1' }}"></option>
            </ng-container>
          </datalist>
        </div>
      </div>
      <div class="text-warning">
        According to material and wing, babies will be shortened
        {{ (this.customerHat.wing != null &&
          this.customerHat.wing.allow_shortening_babies_in_pairs &&
          this.allow_shortening_material_babies_in_pairs)? 'in pairs' : 'individually' }}
      </div>

      <div><hr></div>
      <div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="customerHat.white_hair"  id="chkWhiteHair">
          <label class="form-check-label" for="chkWhiteHair">
            White hair
          </label>
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="White hair notes" id="textWhiteHairNotes" [(ngModel)]="customerHat.white_hair_notes" [disabled]="!customerHat.white_hair"></textarea>
          <label for="textWhiteHairNotes">White hair notes</label>
        </div>        
      </div>

    </div>
  </div>
  <!--/sliders -->

  <!-- knife and size -->
  <div class="col-12 col-md-6">
    <div class="hat-info-section">

      <div style="margin-bottom: 15px;"><strong>Measurements:</strong></div>
      
      <div class="d-flex flex-row align-items-center measurement-row">
        <div class="d-flex flex-row align-items-center" style="min-width: 150px;">
          <span class="icon-knife" style="font-size: 30px; margin-right: 10px;"></span>
          <label for="tempB">Knife:</label>
        </div>
        <div class="flex-grow-1" style="margin-left: 15px;">

        <ng-select
          #knife_selector
          placeholder="Hat knife"
          [ngModel]="customerHat.wing?.knife"
          (ngModelChange)="knife_changed()"
          name="knife_selector"
          [clearable]="false"
          [disabled]="false"
          [searchable]="false">
          <ng-option
            *ngFor="let item of arr_knives"
            [value]="item.cm">
            <div class="option-table option-2-col">
              <div class="cell">{{ item.cm | number:'1.2-2' }} cm</div>
              <div class="cell">{{ item.inches | number:'1.2-2' }}"</div>
            </div>
          </ng-option>

        </ng-select>
      
        </div>
      </div>

      <div class="d-flex flex-row align-items-center measurement-row">
        <div style="min-width: 150px;" class="d-flex flex-row align-items-center">
          <span class="icon-wing-size" style="font-size: 30px; margin-right: 10px;"></span>
          <label for="tempB">Total height:</label>
        </div>
        <div class="flex-grow-1" style="margin-left: 15px;">

        <ng-select
          #select_height
          placeholder="Total height"
          [(ngModel)]="wing_total_height"
          (ngModelChange)="height_changed($event.toString())"
          name="select_height"
          [clearable]="false"
          [disabled]="false"
          [searchable]="false">
          <ng-option
            *ngFor="let item of arr_wing_total_height"
            [value]="item.cm"
            [disabled]="item.disabled">
            <div  [ngClass]="{ 'option-table': true, 'option-2-col': true, 'text-danger': item.disabled }">
              <div class="cell">{{ item.cm | number:'1.2-2' }} cm</div>
              <div class="cell">{{ item.inches | number:'1.2-2' }}"</div>
            </div>
          </ng-option>
        </ng-select>
  
        </div>
      </div>

      <div class="d-flex flex-row align-items-center measurement-row">
        <div class="d-flex flex-row align-items-center" style="min-width: 150px;">
          <fa-icon [icon]="faRecordVinyl" style="margin-right: 10px;"></fa-icon>
          <label for="tempB">Kippa size:</label>
        </div>
        <div class="flex-grow-1" style="margin-left: 15px;">
        <!--
        <select class="form-select" [(ngModel)]="kippa_size" #select_kippa>
          <option 
            *ngFor="let kippa of arr_kippa" 
            value="{{ kippa }}" 
            >
              {{ kippa  | number : '1.1-1' }} cm
          </option>
        </select>
        -->

        <ng-select
          #select_kippa
          placeholder="Kippa size"
          [(ngModel)]="kippa_size"
          name="select_kippa"
          [clearable]="false"
          [disabled]="false"
          [searchable]="false">
          <ng-option
            *ngFor="let item of arr_kippa"
            [value]="item.cm"
            [disabled]="item.disabled">
            <div  [ngClass]="{ 'option-table': true, 'option-2-col': true, 'text-danger': item.disabled }">
              <div class="cell">{{ item.cm | number:'1.2-2' }} cm</div>
              <div class="cell">{{ item.inches | number:'1.2-2' }}"</div>
            </div>
          </ng-option>
        </ng-select>        
        </div>
      </div>

      <div class="d-flex flex-row align-items-center measurement-row">
        <div class="d-flex flex-row align-items-center" style="min-width: 150px;">
          <fa-icon [icon]="faRecordVinyl" style="margin-right: 10px;"></fa-icon>
          <label for="tempB">Hat diameter:</label>
        </div>
        <div class="flex-grow-1" style="margin-left: 15px;">

          <ng-select
            #diameter_selector
            placeholder="Hat diameter"
            [items]="arr_diameter"
            bindLabel="caption"
            bindValue="inches"
            [(ngModel)]="diameter_inches"
            (change)="diameter_changed()"
            name="diameter_selector"
            [clearable]="false"
            [disabled]="false" 
            [searchable]="false">
              <!-- Template for default/selected item (ng-label-tmp), and for items in the select list (ng-option-tmp) -->
              <ng-template ng-option-tmp ng-label-tmp let-item="item">
                <div class="option-table option-2-col">
                  <div class="cell">{{ item.cm | number : '1.2-2' }} cm</div>
                  <div class="cell">{{ item.inches| number : '1.2-2'  }}"</div>
                  <!--<div class="cell d-none">Box: {{ item.box | number : '1.1-1' }}</div>-->
                </div>
              </ng-template>
          </ng-select>
      </div>
      </div> 

      <div class="d-flex flex-row align-items-center measurement-row">
        <div style="min-width: 150px;" class="d-flex flex-row align-items-center">
          <fa-icon [icon]="faRuler" style="margin-right: 10px;"></fa-icon>
          <label for="tempB">Mayler thickness:</label>
        </div>
        <div class="flex-grow-1" style="margin-left: 15px;">
        <select class="form-select" [(ngModel)]="customerHat.mayler_width" #select_kippa>
          <option 
            *ngFor="let mayler of arr_mayler" 
            value="{{ mayler }}" 
            >
              {{ mayler  | number : '1.2-2' }} cm
          </option>
        </select>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center measurement-row">
        <div style="min-width: 150px;" class="d-flex flex-row align-items-center">
          <fa-icon [icon]="faRuler" style="margin-right: 10px;"></fa-icon>
          <label for="tempB">HR/HL tails:</label>
        </div>
        <div class="flex-grow-1" style="margin-left: 15px;">
          <select *ngIf="customerHat.tails_allocation_id" class="form-select" [(ngModel)]="hat_hr_hl" #select_hr_hl (change)="calculateVisibleCrown()">
            <option 
              *ngFor="let w of arr_hr_hl" 
              value="{{ w }}" 
              >
                {{ w  | number : '1.2-2' }} cm
            </option>
          </select>

          <div *ngIf="!customerHat.tails_allocation_id" class="text-warning">
            Select an allocation for tails
          </div>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center measurement-row">
        <div class="d-flex flex-row align-items-center" style="min-width: 150px;">
          <fa-icon [icon]="faRuler" style="margin-right: 10px;"></fa-icon>
          <label for="tempB">Crown visible:</label>
        </div>
        <div class="flex-grow-1" style="margin-left: 15px;">
            {{ customerHat.crown_visible  | number : '1.2-2' }} cm
        </div>
      </div>      

    </div>
  </div>
  <!--/knife and size -->
</div>
<!--/Sliders and other controls -->
<!--


  <div class="hat-info-section col-12 col-md-6">
    <div class="row">
      <div class="col">Hat height</div>
      <div class="col">
        <select class="form-select" [value]="customerHat.wing?.knife" #select_height (change)="height_changed(select_height.value)">
          <option selected>Choose height</option>
          <option *ngFor="let height of arr_wing_width" value="{{ height }}">{{ height  | number : '1.1-1' }} cm</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">Knife number</div>
      <div class="col">
        <select class="form-select" [value]="wing_knife" #select_knife (change)="knife_changed(select_knife.value)">
          <option selected>Choose knife</option>
          <option *ngFor="let knife of arr_knives" value="{{ knife }}">{{ knife  | number : '1.1-1' }} cm</option>
        </select>
      </div>
    </div>

  
  </div>
</div>
-->
<!---------/NEW LAYOUT --------->
  
<!-- Length, quantity, position -->
<table class="table table-striped table-hover babies-table">
    <thead>
      <tr>
        <th class="th-title" colspan="3">Hat Specs</th>
        <th class="th-title" colspan="3">Bank Allocation</th>
      </tr>
      <tr>
        <th scope="col">Baby length</th>
        <th scope="col">Total qty per hat</th>
        <th scope="col">Position(s)</th>
        <th scope="col">In allocation</th>
        <th scope="col">Hats</th>
        <th scope="col">Remaining</th>
      </tr>
    </thead>
    <tbody>
      <!--
        <tr>
            <td colspan="4" style="background-color: var(--bs-info-bg-subtle); box-shadow: none;"><strong><span class="icon-wall-bricks"></span> Wall material: {{ active_hat? active_hat.hat_material: "(Please select a hat)" }}</strong></td>
        </tr>
        -->     
        <!--<td [attr.rowspan]="(hat_babies.length + crown_babies.length)">Message</td>-->
        <tr *ngFor="let item of hat_babies; index as i">
          <td>{{ item.length | number : '1.1-1' }} cm</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.position }}</td>

          <td class="table-message" *ngIf="i==0 && summary_table_instructions" colspan="3" [attr.rowspan]="(hat_babies.length + crown_babies.length +1)">
            <div>{{ summary_table_instructions }}</div>
          </td>

          <td *ngIf="!summary_table_instructions">{{ item.quantity_in_allocation }}</td>
          <td *ngIf="!summary_table_instructions" [className]="(item.possible_num_of_hats == total_num_of_possible_hats)? 'text-danger' : ''">{{ (order_amount && order_amount > 0)? order_amount: '0' }} (max {{ item.possible_num_of_hats }})</td>
          <td *ngIf="!summary_table_instructions">{{ item.remaining }}</td>
        </tr>
        <tr *ngFor="let item of crown_babies">
          <td>{{ item.length | number : '1.1-1' }} cm</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.position }}</td>
          <td *ngIf="!summary_table_instructions">{{ item.quantity_in_allocation }}</td>
          <td *ngIf="!summary_table_instructions" [className]="(item.possible_num_of_hats == total_num_of_possible_hats)? 'text-danger' : ''">{{ (order_amount && order_amount > 0)? order_amount: '0' }} (max {{ item.possible_num_of_hats }})</td>
          <td *ngIf="!summary_table_instructions">{{ item.remaining }}</td>
        </tr>        

        <tr>
          <td class="text-warning">
            <strong>Total babies per hat</strong>
          </td>
          <td class="text-warning">{{ total_babies_per_hat }}</td>
          <td></td>
          <td *ngIf="!summary_table_instructions" colspan="3"></td>
        </tr>
    </tbody>
  </table>

  <!-- H Material analysis -->
  <div class="h-material-analysis border border-warning"><!-- *ngIf="!summary_table_instructions && customerHat.tails_material_id != null && customerHat.tails_material_id >= 0"-->
    <div class="text-warning"><strong>H Material:</strong></div>
    
    <!-- No H material selected (required for order) -->
    <div *ngIf="customerHat.tails_material_id == null || customerHat.tails_material_id <= 0">
      Please select the H material for this order.
    </div>

    <!-- H material selected (required for order), without allocation -->
    <div *ngIf="customerHat.tails_material_id != null && customerHat.tails_material_id > 0 && tails_allocation == null">
      H material selected with no allocation.<br/>
    </div>

    <!-- No hats can be produced at all (regardless of H material), can't be calculated -->
    <div *ngIf="total_num_of_possible_hats <= 0" class="text-danger">
      No sufficient wall and crown allocations to produce hats
    </div>

    <!-- Hats can be produced, no H material allocation selected, all tails will be overdraft -->
    <div *ngIf="total_num_of_possible_hats > 0 && customerHat.tails_material_id != null && customerHat.tails_material_id > 0 && tails_allocation == null">
      {{ customerHat.wing_quantity }} {{ customerHat.wing_quantity==1? 'wing':'wings' }} x {{ order_amount }} {{ order_amount==1? 'hat':'hats' }} = {{ customerHat.wing_quantity * order_amount }} tails will be requested to be produced (overdraft).
    </div>

    <!-- Hats can be produced, H material allocation selected, with enough tails, no need for overdraft -->
    <div *ngIf="tails_allocation != null && tails_allocation.tails_quantity >= (customerHat.wing_quantity * order_amount)">
      <span *ngIf="tails_allocation.tails_quantity >= customerHat.wing_quantity">
        <div>{{ tails_allocation.tails_quantity }} tails in allocation.</div>
        <div>{{ calculated_hats_info.tails_used }} used in wings,  {{ calculated_hats_info.tails_remaining }} will remain.</div>
        <div class="text-danger">Max {{ calculated_hats_info.max_num_of_hats_with_tails }} {{ (calculated_hats_info.max_num_of_hats_with_tails == 1)? 'hat':'hats' }}</div>
      </span>
    </div>

    <!-- Hats can be produced, H material allocation selected, with not enough tails, some will be overdraft -->
    <div *ngIf="tails_allocation != null && (tails_allocation.tails_quantity < (customerHat.wing_quantity * order_amount))">
        <div class="text-warning">Total of {{ (customerHat.wing_quantity * order_amount) }} wings/tails in this order.</div>
        {{ calculated_hats_info.tails_used }} tails in selected allocation.<br/>
        {{ calculated_hats_info.tails_remaining }} tails will remain,<br/>
        {{ calculated_hats_info.tails_overdraft }} will be produced in overdraft.
    </div>

  </div>
  <!--/H Material analysis -->

  <div><h6>Max hats calculated: {{ total_num_of_possible_hats }}</h6></div>

  <div>
    <app-order-advisor
      #advisor
      [wing_id]="selected_wing_id ?? 0"
      [wall_allocation]="this.wall_alocation"
      [crown_allocation]="this.crown_allocation"
      
      [customer_wall_babies]="customer.babies"
      [customer_crown_babies]="customer.babies"
      [show_options_button]="false"
      [try_to_exceed]="total_num_of_possible_hats"
      [numOfWingsPerHat]="customerHat.wing_quantity"
      [show_help_me_adjust_button]="false"
      (fetchExceedInstructions)="exceedNumOfHats($event)"
    /><!--[tails_allocation]="this.tails_allocation"-->
  </div> 

  <div style="border: 1px solid; border-radius: 10px; margin: 20px 0px;padding: 20px;">
    <div><h3>Place an order</h3></div>
    <div *ngIf="total_num_of_possible_hats > 0 && customerHat.crown_allocation_id > 0 && customerHat.wall_allocation_id > 0">

      <div *ngIf="customerHat.tails_material_id != null && customerHat.tails_material_id > 0">
      <div class="order-notes d-flex flex-row align-items-center flex-wrap">
        <span>Place the order for a specific date:</span>
        <input
          type="date"
          id="orderDate"
          name="orderDate"
          [attr.min]="minDate"
          [(ngModel)]="customerHat.order_date"
          />
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="customerHat.isurgent"  id="chkUrgent">
          <label class="form-check-label" for="chkUrgent">
            Mark this order as urgent
          </label>
        </div>          
      </div>
      <div class="order-notes">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Order notes" id="floatingTextarea" [(ngModel)]="customerHat.order_notes"></textarea>
          <label for="floatingTextarea">Order notes</label>
        </div> 
      </div>

        <div>Submit an order for
        <input type="number" min="0" [attr.max]="total_num_of_possible_hats" [(ngModel)]="order_amount"  (change)="order_amount_changed()" />
          {{ order_amount == 1 ? 'hat' : 'hats' }}
        <button 
          [ngClass]="{'btn btn-success': true, 'disabled': (order_amount <= 0 || order_amount > total_num_of_possible_hats) || (placing_order)}"
          (click)="placeOrder()" style="min-width: 170px;">

          <div *ngIf="!placing_order">
            <fa-icon [icon]="faBasketShopping"></fa-icon>
            Order
          </div>

          <div *ngIf="placing_order">
            <fa-icon [icon]="faArrowsRotate" [animation]="'spin'" size="1x"></fa-icon>
            Loading order...
          </div>

        </button>
      </div>
      <div class="text-danger" *ngIf="order_amount <= 0">
        Please enter a valid quantity to order
      </div>
      <div class="text-danger" *ngIf="order_amount > total_num_of_possible_hats">
        Your max allocation is limited to a max of {{ total_num_of_possible_hats }} hats
      </div>
    </div>
    <div *ngIf="customerHat.tails_material_id == null || customerHat.tails_material_id <= 0" class="text-danger">
      Choose H material to place an order
    </div>


    </div>
    <div class="order-notes" *ngIf="total_num_of_possible_hats <= 0 && customerHat.crown_allocation_id > 0 && customerHat.wall_allocation_id > 0">
      No sufficient quota to order hats
    </div>
    <div class="order-notes" *ngIf="customerHat.crown_allocation_id <= 0 || customerHat.wall_allocation_id <= 0">
      {{ summary_table_instructions }} to calculate and place an order
    </div>
    <div>
      <a href="javascript:void(0)" (click)="go_to_orders()">See all your orders</a>
    </div>
  </div>

</div> <!-- end of active hat info-->

</div> <!-- / All other stuff -->

<div *ngIf="!customerHat.wing" style="display: flex;flex-direction: column;flex-wrap: nowrap;align-items: center; height: 100%; justify-content: center;">
  <div><span class="icon-feather-wing" style="font-size: 80px;"></span><!--<img [attr.src]="no_hat_img" style="width: 200px;">--></div>
  <div>No wing selected. Choose a wing to calculate.</div>
  <div>Or load a previously saved setup</div>
</div>

</div></div>