.hat-name {
  font-weight: 700;
  font-size: 17px;
}

.hat-info-section {
    border: 1px solid;
    border-radius: 7px;
    margin: 10px 0;
    padding: 10px;
}

.sub-info-section {
    margin-top: 15px;
}

.section-btn-wrapper {
    margin-top: 7px;
}

.measurement-row {
  margin: 10px 0px;
}

.babies-table {
    margin-top: 30px;
}

.babies-table td:nth-child(1), 
.babies-table td:nth-child(4), 
.babies-table th:nth-child(1), 
.babies-table th:nth-child(4),
.babies-table .th-title  {
    border-left: 1px solid var(--bs-warning);
}
.babies-table td:nth-child(6),
.babies-table th:nth-child(6),
.babies-table tr:last-child td:last-child,
.babies-table .th-title {
    border-right: 1px solid var(--bs-warning);
}

.babies-table .th-title {
    border-top: 1px solid var(--bs-warning);
    color: var(--bs-warning);
    text-align: center;
}

.table-message {
  border-right: 1px solid var(--bs-warning);
  border-bottom: 1px solid var(--bs-warning);
}
.table-message div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*
.babies-table .th-title td {
    border-radius: 10px;
}*/

.babies-table tr:last-child td {
    border-bottom: 1px solid var(--bs-warning);
}

.ng-autocomplete {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  margin-top: 10px;
}

.ng-autocomplete .form-control-plaintext {
  padding: 5px 0px;
}
::ng-deep .ng-select-container {
  height: auto !important;
  min-width: 200px;
  width: auto !important;
}

/*




::ng-deep .ng-select-container {
  height: auto !important;
  min-width: 200px;
  width: auto !important;
}

::ng-deep .autocomplete-container .input-container input,
::ng-deep .autocomplete-container .input-container input::placeholder {
  color: var(--bs-warning) !important;
}

::ng-deep .autocomplete-container.active {
  z-index: 9999 !important;
}

::ng-deep .autocomplete-container .input-container input {
  line-height: 25px !important;
  height: 25px !important;
}


  */
  ::ng-deep .autocomplete-container .suggestions-container ul:has(li) {
    border: 1px solid;
  }

  .ng-autocomplete {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

::ng-deep .autocomplete-container .input-container input {
  height: 25px !important;
}

::ng-deep .autocomplete-container.active {
    z-index: 9999 !important;
}

::ng-deep .ng-autocomplete {
    width: auto !important;
}

::ng-deep .input-container input {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

::ng-deep .suggestions-container a {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

::ng-deep .suggestions-container a:hover {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;
}

::ng-deep .autocomplete-container {
    box-shadow: none !important;
    height: auto !important;
}

::ng-deep .autocomplete-container .input-container .x i {
    color: var(--bs-body-color) !important;
}

::ng-deep .autocomplete-container .not-found {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;    
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0px;
}

.toolbar .btn span[class^=icon-] {
  font-size: 30px;
}

.toolbar .btn {
  margin-right: 10px;
  width: 80px;
}

// ----- sliders -----
datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  option {
    padding: 0;
  }
  
  input[type="range"] {
    margin: 0;
  }
  input[type="range"], datalist {
    width: 100%;
  }

  .sliders .col .row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 20px;
  }

  /*
  .sliders .col .row .col {
    padding: 15px 10px 0px 10px;
  }
*/
  .sliders .col .row:not(:last-child) {
    /*padding-bottom: 10px;*/
    /*border-bottom: 1px solid;*/
    background-color: aquamarine;

}

.order-notes {
  margin: 20px 0px;
}

.order-notes .form-check, .order-notes input[type="date"] {
  margin-left: 15px;
}

.h-material-analysis {
  margin: 20px 0px;
  padding: 20px;
}


.option-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
  gap: 4px;
  align-items: center;
}

.option-table .cell {
  padding: 3px 1px;
  font-size: 14px;
  text-align: center;
}

.option-table .cell:not(:first-child) {
  border-left: 1px solid var(--bs-body-color);
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 0px;
}

/* make selected item look like dropdown option instead of input */
::ng-deep .ng-select .ng-value {
  width: 100%;
}

::ng-deep .ng-select .ng-value .option-table {
  margin: 0; /* remove extra spacing */
}