.transparent_text {
    color: transparent;
}

::ng-deep.ng-select-container {
    height: calc(3.5rem + calc(var(--bs-border-width)* 2)) !important;
    min-width: 50px;
}
/*
.editorForm div.col {
    margin: 8px 0px;
}*/

h3 {
    margin: 25px 0;
}

.buttons-area button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 19px;
    margin: 10px 0;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .buttons-area button {
        height: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .buttons-area button {
        width: 80%;
    }
}

.banks-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ng-autocomplete {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

::ng-deep .autocomplete-container.active {
    z-index: 9999 !important;
}

::ng-deep .ng-autocomplete {
    width: auto !important;
}

::ng-deep .input-container input {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

::ng-deep .suggestions-container a {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

::ng-deep .suggestions-container a:hover {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;
}

::ng-deep .autocomplete-container {
    box-shadow: none !important;
    height: auto !important;
}

::ng-deep .autocomplete-container .input-container .x i {
    color: var(--bs-body-color) !important;
}

::ng-deep .autocomplete-container .not-found {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;    
}

.tooltip {
    position: absolute;
    background-color: lightyellow;
    border: 1px solid black;
    display: block;
    z-index: 999;
    color: black;
    font-size: 12px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 7px;
    display:none;
    opacity: 1;
  }


/*==============*/
.always-float {
  position: relative;
  /*margin-top: 1.5rem;*/
}

.always-float label {
  position: absolute;
  top: 0.3rem;
  left: 0.5rem;
  background: transparent;
  padding: 0 0.25rem;
  color: rgba(222, 226, 230, 0.65);
  z-index: 1;
}

.floating-select ::ng-deep .ng-select-container {
  padding-top: 1.25rem; /* Make space for the label */
}

.always-float ::ng-deep .ng-value-container {
    margin-top: 12px;
}