<app-confirmation-dialog 
    #delete_confirmation 
    modalTitle="Delete confirmation"
    modalText="Are you sure you want to delete this raw material, {{ rawMaterialItem.name }}?"
    [btnYesIcon]=faTrashAlt
    btnYesText="Delete"
    btnYesClass="btn-danger">
</app-confirmation-dialog>

<app-confirmation-dialog 
    #navigate_confirmation 
    modalTitle="Leaving so quickly?"
    modalText="<strong>Your unsaved changed will be lost!</strong><br/>Are you sure you want to navigate away?"
    [btnYesIcon]=faArrowLeft
    btnYesText="Yes"
    btnYesClass="btn-warning">
</app-confirmation-dialog>

<app-raw-material-history-dialog #history_dialog />

<app-raw-material-quantity-dialog #quantityDialog></app-raw-material-quantity-dialog>

<div #tooltip class="tooltip">Tooltip</div>

<div class="row justify-content-center">
<div class="col-12 col-md-8">

    <h3><span class="icon-leaf"></span> {{ this.title }}</h3>

    <form novalidate #raw_material_form="ngForm" [id]="'raw_material_form'">
        <div class="editorForm">

        <!-- Autocomplete -->
        <div class="row">
            <div class="col-6">
                <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center;">
                    <div class="ng-autocomplete" style="flex-grow: 1;">
                        <ng-autocomplete 
                            [data]="raw_material_names"
                            placeholder="Select a material or enter a new one*"
                            [itemTemplate]="itemTemplate"
                            [(ngModel)]="rawMaterialItem.name"
                            [className]="'form-control form-control-plaintext'"
                            name="materialName"
                            #materialName="ngModel"
                            [required]="true" />
                        
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item"></a>
                        </ng-template>
                    </div>
                    <span class="icon-history" *ngIf="rawMaterialItem.id!=0"  (click)="openHistoryDialog()" style="font-size: 23px; margin-left: 14px; cursor:pointer;" title="History records"></span>
                </div>

                <div class="text-danger" *ngIf="materialName.invalid && (materialName.touched || materialName.dirty)" > 
                    <span *ngIf="materialName.errors?.['required']">Please enter a name for the raw material</span>
                </div> 
        </div>

        <div class="col-2">
            <button class="btn btn-warning upper-button" (click)="gotoMaterialsList()">
                <div class="btn-icon"><fa-icon [icon]="faArrowLeft"></fa-icon></div>
            </button>
        </div>
        <div class="col-2">
            <button #btn_save class="btn btn-success upper-button" type="submit" (click)="save()">
                <div class="btn-icon"><fa-icon [icon]="faSave"></fa-icon></div>
            </button>
        </div>
        <div class="col-2" >
            <button class="btn btn-danger upper-button" (click)="confirm_delete()" *ngIf="!this.is_new_material">
                <div class="btn-icon"><fa-icon [icon]="faTrashAlt"></fa-icon></div>
            </button>
        </div>

    </div>
    <!--/Autocomplete -->

    <div class="row">
        <div class="col col-12 col-md-4  mt-3 mt-md-0 mb-3 mb-md-0">
            <div class="input-group">
                <div class="form-floating">
                    <input type="number" id="materialPurchaseQuantity" class="form-control" placeholder="0" [(ngModel)]="rawMaterialItem.purchase_quantity" name="materialPurchaseQuantity" #purchase_quantity="ngModel" (change)="recalculateRemaining()">
                    <label for="materialPurchaseQuantity">Total quantity purchased</label>
                </div>
                <ng-select [(ngModel)]="rawMaterialItem.quantity_units" name="quantityunits" [clearable]="false" #rawMaterialItem.quantity_units="ngModel" [disabled]="lock_quantity_control" (mousemove)="(!lock_quantity_control)? false: showTooltip('<strong>🔒 Locked</strong><br/>Quantity is locked for editing, as it is used by customer banks.<br/>You can top it up with the top-up button!')" (mouseout)="this.show_tooltip=false">
                    @for (unit of quantity_units; track unit) {
                        <ng-option [value]="unit">{{unit}}</ng-option>
                    }
                </ng-select>
            </div>
        </div>
        <div class="col col-12 col-md-4  mt-3 mt-md-0 mb-3 mb-md-0" style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; flex-wrap: nowrap;">
            <span style="text-align: center;"><strong>Remaining:<br/></strong>{{ rawMaterialItem.remaining_quantity }} {{ rawMaterialItem.quantity_units }}</span>
            <span *ngIf="lock_quantity_control">
                <button class="btn btn-primary" style="font-size:12px;" (click)="openQuantityDialog()">+<br/>Top up!</button>
            </span>
        </div>
        <div class="col col-12 col-md-4  mt-3 mt-md-0 mb-3 mb-md-0">
            <div class="form-floating">
                <input type="number" id="units_per_kg" class="form-control" placeholder="0" [(ngModel)]="rawMaterialItem.units_per_kg" name="units_per_kg">
                <label for="units_per_kg">Units per kg</label>
            </div>            
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="progress">
                <div 
                    [ngClass]="{
                        'bg-danger':((rawMaterialItem.purchase_quantity - rawMaterialItem.remaining_quantity)*100/rawMaterialItem.purchase_quantity) >= 80, 
                        'bg-warning':((rawMaterialItem.purchase_quantity - rawMaterialItem.remaining_quantity)*100/rawMaterialItem.purchase_quantity) < 80 && ((rawMaterialItem.purchase_quantity - rawMaterialItem.remaining_quantity)*100/rawMaterialItem.purchase_quantity) >= 60,
                        'bg-success':((rawMaterialItem.purchase_quantity - rawMaterialItem.remaining_quantity)*100/rawMaterialItem.purchase_quantity) <= 60,
                        }"
                    role="progressbar" 
                    [style.width.%]="((rawMaterialItem.purchase_quantity - rawMaterialItem.remaining_quantity)*100/rawMaterialItem.purchase_quantity)" 
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
    </div>

    <div class="row" style="margin-top: -20px !important;" *ngIf="insufficient_quantity_for_banks">
        <div class="col col-12 col-md-8 mb-3 mb-md-0">
            <div class="text-danger">
                Quantity cannot be less than the used quantity, {{ curr_total_in_banks }} {{ rawMaterialItem.quantity_units }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mt-3 mt-md-0 mb-3 mb-md-0">
            <div class="input-group">
                <ng-select [(ngModel)]="rawMaterialItem.currency" name="currency" [clearable]="false" #currency="ngModel">
                    @for (currency of currencies; track currency.code) {
                        <ng-option [value]="currency.code">{{currency.symbol}}</ng-option>
                    }
                </ng-select>
            
                <div class="form-floating">
                    <input type="number" id="materialWeight" class="form-control" placeholder="0" [(ngModel)]="rawMaterialItem.price" name="price" #price="ngModel">
                    <label for="materialWeight">Price</label>
                </div>
            </div>
            <div class="text-danger" *ngIf="((price.touched || price.dirty) && price.value) && !currency.value">
                Please select a currency for the price
            </div>           
        </div>
        <div class="col col-12 col-md-4 mt-3 mt-md-0 mb-3 mb-md-0">
            <div class="form-floating">
            <ng-select [(ngModel)]="rawMaterialItem.origin_country" name="country">
                @for (country of countries; track country.code) {
                    <ng-option [value]="country.code">{{country.name}}</ng-option>
                }
            </ng-select>
            <label for="">Origin country</label>
            </div>
        </div>
        <div class="col col-12 col-md-4 mt-3 mt-md-0 mb-3 mb-md-0">
            <div class="form-floating">
                <input type="text" class="form-control" id="vendorName" [(ngModel)]="rawMaterialItem.vendor_name" name="vendor_name">
                <label for="vendorName">Vendor name</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-12 col-md-6  mt-3 mt-md-0 mb-3 mb-md-0">
            <div class="form-floating">
                <input type="date" #purchasedAt class="form-control" placeholder="0" [ngModel]="rawMaterialItem.purchased_at | date: 'yyyy-MM-dd'" name="purchased_at">
                <label for="purchasedAt">Purchased at</label>
            </div>
        </div>
        <div class="col col-12 col-md-6" style="display: flex; flex-direction: column; justify-content: center;">
            <span><strong>Last updated at: </strong>{{ (newMaterialMode)? "Not yet!" : rawMaterialItem.updated_at | dateStr }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col col-12">
            <div class="form-floating">
                <input type="text" class="form-control" id="notes" [(ngModel)]="rawMaterialItem.notes" name="notes">
                <label for="notes">Notes</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-12 banks-container">
            <app-raw-material-customer-table 
                [banks]="rawMaterialItem.customer_banks"
                [parent_raw_material]="rawMaterialItem"
                (banksChanged)="recalculateRemaining()"
            />
            </div>
    </div>

    <div class="row buttons-area">
            <div class="col-12 d-flex justify-content-center {{ this.is_new_material? 'col-md-6':'col-md-4' }}">
                <button class="btn btn-warning" (click)="gotoMaterialsList()">
                    <div class="btn-icon"><fa-icon [icon]="faArrowLeft"></fa-icon></div>
                    <div>Cancel Chages</div>
                </button>
            </div>
            <div class="col-12 d-flex justify-content-center {{ this.is_new_material? 'col-md-6':'col-md-4' }}">
                <button #btn_save class="btn btn-success" type="submit" (click)="save()"><!--[disabled]="!raw_material_form.form.valid"-->
                    <div class="btn-icon"><fa-icon [icon]="faSave"></fa-icon></div>
                    <div>Save Material</div>
                </button>
            </div>
            <div class="col-12 d-flex justify-content-center col-md-4" *ngIf="!this.is_new_material">
                <button class="btn btn-danger" (click)="confirm_delete()">
                    <div class="btn-icon"><fa-icon [icon]="faTrashAlt"></fa-icon></div>
                    <div>Delete Material</div>
                </button>
            </div>
    </div>

    </div>
</form>

</div>

</div>
