.transparent_text {
    color: transparent;
}

::ng-deep.ng-select-container.ng-has-value {
    height: calc(3.5rem + calc(var(--bs-border-width)* 2)) !important;
}

.editorForm div.col {
    /*height: calc(3.5rem + calc(var(--bs-border-width)* 2));*/
    margin: 8px 0px;
}

h3 {
    margin-top: 15px;
}

.buttons-area {
    display: flex; 
    flex-direction: row; 
    justify-content: 
    space-evenly; align-items: 
    center; margin: 15px 0;
}

.buttons-area button {
    width: 165px;
    padding: 10px 0px;
}