<app-confirmation-dialog #delete_allocation_dialog
  modalTitle="Delete confirmation"
  modalText="Are you sure you wish to delete this allocation?<br/>All its babies will be removed too!"
  [btnYesIcon]=faTrashCan
  btnYesText="Delete"
  btnYesClass="btn-danger"
/>
<app-bank-allocation-dialog 
  #allocation_dialog
/>

<app-baby-editor-dialog 
  #babies_picker 
/>

<app-confirmation-dialog
  #not_enough_material
  modalTitle="Not enough material in the bank!"
  modalText="Not enough remaining material to allocate for work.<br/>Please request more material!"
  btnYesText="I see..."
  btnYesClass="btn btn-warning m-auto"
  btnNoClass="d-none"
  [dialogIcon]="faTriangleExclamation"
  />

<app-bank-history-dialog 
  #history_dialog 
/>

<app-allocation-picker
  #allocation_picker
    [banks]="[bank]"
    [banks_baby_allocations]="banks_baby_allocations"
    [babies]="babies"
    [instructions]="'Pick an allocation to merge into:'"
    [confirmAction]="true"
/>

<div style="border: 1px solid; padding: 20px; border-radius: 20px; margin: 20px 0px;">
<div>
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
      <h5 style="display: inline-block; margin-right: 10px;" title="Click to go to raw material ({{ bank.raw_material_name }})">
          <span 
              class="hover-warning" 
              role="button"
              routerLink="/inventory/raw/editor" [queryParams]="{ id: bank.raw_material_id }">
              <span class="icon-leaf" style="margin-right: 10px;"></span>
              Raw Material Bank: {{ bank.raw_material_name }}
          </span>
      </h5>
      <span>
        <span class="icon-history" (click)="openHistoryDialog()" style="font-size: 23px; margin-left: 14px; cursor:pointer;" title="History records"></span>
      </span>
    </div>

    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center;"><span>{{ bank.quantity }} {{ raw_material_quantity_units }} ({{ bank.remaining_quantity }} remaining)</span> <span><button class="btn btn-primary" style="padding: 0px 11px 3px 5px; margin-left: 10px;" *ngIf="(banks_baby_allocations | filter: 'customer_bank_id' : bank.id).length > 0" (click)="open_allocation_dialog(-999)">+ New work allocation</button></span></div>

<div style="margin-top: 15px;">
  <div class="progress">
    <div 
        [ngClass]="{
            'bg-danger':((bank.quantity - bank.remaining_quantity)*100/bank.quantity) >= 80, 
            'bg-warning':((bank.quantity - bank.remaining_quantity)*100/bank.quantity) < 80 && ((bank.quantity - bank.remaining_quantity)*100/bank.quantity) >= 60,
            'bg-success':((bank.quantity - bank.remaining_quantity)*100/bank.quantity) <= 60,
            }"
        role="progressbar" 
        [style.width.%]="((bank.quantity - bank.remaining_quantity)*100/bank.quantity)" 
        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

</div>

<!-- allocations from this bank -->
 <div *ngIf="(banks_baby_allocations | filter: 'customer_bank_id' : bank.id).length > 0">

 
 <ng-container *ngFor="let bank_allocation of banks_baby_allocations | filter: 'customer_bank_id' : bank.id">
 <hr  style="margin: 30px 0px;" />
 <div>
      <div>
        <fa-icon [icon]="faChartPie" style="margin-right:10px;"></fa-icon>
        <strong>Allocated for work (#{{ bank_allocation.id }}):</strong>
        {{ bank_allocation.quantity }} {{ raw_material_quantity_units }}, {{ (babies | filter: "customer_banks_babies_id" : bank_allocation.id) | sum: 'quantity' }} babies 
        <button class="btn btn-warning" style="padding: 0px 11px 1px 5px; margin-left: 10px;" (click)="open_allocation_dialog(bank_allocation.id)">
          <fa-icon [icon]="faPencil"></fa-icon>
          Edit
        </button>
        <button *ngIf="((this.banks_baby_allocations | filter: 'customer_bank_id' : bank.id).length > 1) && ((babies | filter: 'customer_banks_babies_id' : bank_allocation.id).length > 0)"  class="btn btn-success" style="padding: 0px 11px 1px 5px; margin-left: 10px;" (click)="openAllocationMergeDialog(bank_allocation.id)">
          <span class="icon-merge"></span>
          Merge this
        </button>
        <button class="btn btn-danger" style="padding: 0px 11px 1px 5px; margin-left: 10px;" (click)="delete_allocation(bank_allocation.id)">
          <fa-icon [icon]="faTrashCan"></fa-icon>
          Delete
        </button>
      </div>
      <div *ngIf="(babies | filter: 'customer_banks_babies_id' : bank_allocation.id).length > 0"><!--show babies table-->
        <table class="table table-responsive table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Length</th>
                <th scope="col">Quantity</th>
                <th scope="col" class="text-center">Remove</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let baby of babies | sort: 'length' : true">
              <tr *ngIf="baby.customer_banks_babies_id == bank_allocation.id"> <!--
                routerLink="/inventory/customer/editor" 
                [queryParams]="{ id: customer.id }" role="button">-->
                <td (click)="open_babies_dialog(bank_allocation.id, baby.length)">{{ baby.length | number : '1.1-1' }} cm</td>
                <td (click)="open_babies_dialog(bank_allocation.id, baby.length)">{{ baby.quantity }}</td>
                <td class="text-center" style="cursor: pointer;" title="Delete this baby"><fa-icon class="text-danger" [icon]="faTrashCan" (click)="delete_baby(baby.id)"></fa-icon></td>
              </tr>
                </ng-container>
            </tbody>
          </table>
      </div><!--/babies table-->
      <div *ngIf="(babies | filter: 'customer_banks_babies_id' : bank_allocation.id).length == 0" style="height: 120px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center;">
        <div><fa-icon [icon]="faTriangleExclamation" size="2x"></fa-icon></div>
        <div>No babies in this allocation</div>
      </div>
      <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center;">
        <button class="btn btn-primary" style="width: 50%; padding: 2px 0px;" (click)="open_babies_dialog(bank_allocation.id, -999)">+ Add babies</button>
      </div>
</div>
</ng-container>
</div>
<div style="height: 160px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; line-height: 40px;" *ngIf="(banks_baby_allocations | filter: 'customer_bank_id' : bank.id).length == 0">
  <div><fa-icon [icon]="faTriangleExclamation" size="2x"></fa-icon></div>
  <div>No material allocated for work in this bank.</div>
  <div>Add some by clicking the <button class="btn btn-primary" style="padding: 0px 11px 3px 5px;" (click)="open_allocation_dialog(-999)">+ New work allocation</button> button.</div>
</div>
</div>