<app-confirmation-dialog #delete_allocation_dialog
  modalTitle="Delete confirmation"
  modalText="Are you sure you wish to delete this allocation?<br/>All its babies will be removed too!"
  [btnYesIcon]=faTrashCan
  btnYesText="Delete"
  btnYesClass="btn-danger"
/>

<app-confirmation-dialog #save_before_select
  modalTitle="Save first!"
  modalText="Save changes to the bank before selecting this allocation!"
  [btnYesIcon]=faSave
  btnYesText="Save"
  btnYesClass="btn-success"
  btnNoClass="d-none"
/>

<app-bank-allocation-dialog 
  #allocation_dialog
/>

<app-baby-editor-dialog 
  #babies_picker 
/>

<app-confirmation-dialog
  #not_enough_material
  modalTitle="Not enough material in the bank!"
  modalText="Not enough remaining material to allocate for work.<br/>Please request more material!"
  btnYesText="I see..."
  btnYesClass="btn btn-warning m-auto"
  btnNoClass="d-none"
  [dialogIcon]="faTriangleExclamation"
  />

<app-bank-history-dialog 
  #history_dialog 
/>

<app-allocation-picker
  #allocation_picker
    [banks]="[bank]"
    [banks_baby_allocations]="banks_baby_allocations"
    [babies]="babies"
    [instructions]="'Pick an allocation to merge into:'"
    [confirmAction]="true"
/>

<div style="border: 1px solid; padding: 20px; border-radius: 20px; margin: 20px 0px;">
<div>
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
      <span>
        <h5 style="display: inline-block; margin-right: 10px;" title="Click to go to raw material ({{ bank.raw_material_name }})">
          <span 
              class="hover-warning" 
              role="button"
              routerLink="/inventory/raw/editor" [queryParams]="{ id: bank.raw_material_id }">
              <span class="icon-leaf" style="margin-right: 10px;"></span>
              Raw Material Bank: {{ bank.raw_material_name }} - {{ bank.raw_material_color }}
              <span [className]="'color color-' + bank.raw_material_color.toLowerCase().replace(' ', '-')"></span>
          </span>
        </h5>
        <span *ngIf="unsaved_changes" style="margin-left: 10px;">
          <span class="text-danger">* Unsaved changes</span>
           <button #btn_save class="btn btn-outline-success border-0 btn-save" type="submit" (click)="save_customer()"><!--[disabled]="!raw_material_form.form.valid"-->
                <div class="btn-icon"><fa-icon [icon]="faSave"></fa-icon></div>
            </button>
        </span>
      </span>
      <span>
        <span class="icon-history" (click)="openHistoryDialog()" style="font-size: 23px; margin-left: 14px; cursor:pointer;" title="History records"></span>
      </span>
    </div>

    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center;"><span>{{ bank.quantity }} {{ raw_material_quantity_units }} ({{ bank.remaining_quantity }} remaining)</span> <span><button class="btn btn-primary" style="padding: 0px 11px 3px 5px; margin-left: 10px;" *ngIf="(banks_baby_allocations | filter: 'customer_bank_id' : bank.id).length > 0" (click)="open_allocation_dialog(-999)">+ New work allocation</button></span></div>

<div style="margin-top: 15px;">
  <div class="progress">
    <div 
        [ngClass]="{
            'bg-danger':((bank.quantity - bank.remaining_quantity)*100/bank.quantity) >= 80, 
            'bg-warning':((bank.quantity - bank.remaining_quantity)*100/bank.quantity) < 80 && ((bank.quantity - bank.remaining_quantity)*100/bank.quantity) >= 60,
            'bg-success':((bank.quantity - bank.remaining_quantity)*100/bank.quantity) <= 60,
            }"
        role="progressbar" 
        [style.width.%]="((bank.quantity - bank.remaining_quantity)*100/bank.quantity)" 
        aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>

</div>

<!-- allocations from this bank -->
 <div *ngIf="((banks_baby_allocations | filter: 'customer_bank_id' : bank.id).length > 0)">
 
<div *ngIf="(banks_baby_allocation_type_filter === null || banks_baby_allocation_type_filter === Bank_Allocation_Type.babies)"> 
 <ng-container *ngFor="let bank_allocation of banks_baby_allocations | filter: 'customer_bank_id' : bank.id | filter: 'allocation_type' : 'babies'">
 <hr  style="margin: 30px 0px;" />
 <div class="allocation-area">
      <div>
        <strong><span class="icon-babies" style="margin-right:10px;"></span>Babies work allocation #{{ bank_allocation.id }}:</strong>
        {{ bank_allocation.quantity  | number: '1.' }} {{ raw_material_quantity_units }}, {{ (babies | filter: "allocation_id" : bank_allocation.id) | sum: 'quantity' | number: '1.' }} babies 
        <div class="allocation-action-buttons">
          <button class="btn btn-warning" (click)="open_allocation_dialog(bank_allocation.id)">
            <fa-icon [icon]="faPencil"></fa-icon>
            Edit
          </button>
          <span [attr.title]="((babies | filter: 'allocation_id' : bank_allocation.id | filter: 'quantity_in_pending_orders' : 0 : true).length > 0)? 'Cannot merge this allocation&#10;(some babies in pending orders)':'Merge this allocation to another one'">
            <button 
              [disabled]="(babies | filter: 'allocation_id' : bank_allocation.id | filter: 'quantity_in_pending_orders' : 0 : true).length > 0"
              *ngIf="((this.banks_baby_allocations | filter: 'customer_bank_id' : bank.id).length > 1) && ((babies | filter: 'allocation_id' : bank_allocation.id).length > 0)"  
              class="btn btn-success"  
              (click)="openAllocationMergeDialog(bank_allocation.id)">
              <span class="icon-merge"></span>
              Merge
            </button>
          </span>
          <span [attr.title]="((babies | filter: 'allocation_id' : bank_allocation.id | filter: 'quantity_in_pending_orders' : 0 : true).length > 0)? 'Cannot delete this allocation&#10;(some babies in pending orders)':'Delete this'">
            <button 
              [disabled]="(babies | filter: 'allocation_id' : bank_allocation.id | filter: 'quantity_in_pending_orders' : 0 : true).length > 0"
              class="btn btn-danger" (click)="delete_allocation(bank_allocation.id)">
              <fa-icon [icon]="faTrashCan"></fa-icon>
              Delete
            </button>
          </span>
          <button *ngIf="selectable_allocatoin" class="btn btn-info btn-select-this" (click)="select_allocation(bank_allocation)">
            <fa-icon [icon]="faCheck"></fa-icon>
            Select this
          </button>
        </div>

        <div class="allocation-action-buttons"> <!-- show/hide babies button -->
          <button
            *ngIf="(babies | filter: 'allocation_id' : bank_allocation.id).length > 0"
            [className]="'btn btn-outline-info btn-babies-toggle ' + ((((babies | filter: 'allocation_id' : bank_allocation.id).length > 0) && collapsed_babies_lists)? 'collapsed' : '')" 
            type="button" 
            data-bs-toggle="collapse" 
            [attr.data-bs-target]="'#allocation_table' + bank_allocation.id" [attr.aria-expanded]="!collapsed_babies_lists" 
            [attr.aria-controls]="'allocation_table' + bank_allocation.id"
            [id]="'allocation_collapse_Button' + bank_allocation.id">
            <span class="expanded-text"><span class="icon-chevron-up"></span> Hide babies</span>
            <span class="collapsed-text"><span class="icon-chevron-down"></span> Show babies</span>
          </button>
        </div>

      </div>
      <!--from-->
      <div 
        [className]="'collapse ' + (((babies | filter: 'allocation_id' : bank_allocation.id).length > 0) && (collapsed_babies_lists)? '' : 'show')" [id]="'allocation_table' + bank_allocation.id" 
        *ngIf="(babies | filter: 'allocation_id' : bank_allocation.id).length > 0">
        <table class="table table-responsive table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Length</th>
                <th scope="col">Quantity</th>
                <th scope="col">In orders</th>
                <th scope="col" class="text-center">Remove</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let baby of babies | sort: 'length' : true">
              <tr *ngIf="baby.allocation_id == bank_allocation.id"> <!--
                routerLink="/inventory/customer/editor" 
                [queryParams]="{ id: customer.id }" role="button">-->
                <td (click)="open_babies_dialog(bank_allocation.id, baby.length)">{{ baby.length | number : '1.1-1' }} cm</td>
                <td (click)="open_babies_dialog(bank_allocation.id, baby.length)">{{ baby.quantity }}</td>
                <td (click)="open_babies_dialog(bank_allocation.id, baby.length)">{{ baby.quantity_in_pending_orders }}</td>
                <td class="text-center" style="cursor: pointer;" [attr.title]="(baby.quantity_in_pending_orders == 0)? 'Delete this baby': 'Cannot delete this baby (included in orders)'"><fa-icon *ngIf="baby.quantity_in_pending_orders == 0" class="text-danger" [icon]="faTrashCan" (click)="delete_baby(baby.id)"></fa-icon></td>
              </tr>
                </ng-container>
            </tbody>
          </table>

        
      </div><!--/babies table-->
      <div *ngIf="(babies | filter: 'allocation_id' : bank_allocation.id).length == 0" style="height: 120px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center;">
        <div><fa-icon [icon]="faTriangleExclamation" size="2x"></fa-icon></div>
        <div>No babies in this allocation</div>
      </div>
      <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center;">
        <button class="btn btn-primary" style="width: 50%; padding: 2px 0px;" (click)="open_babies_dialog(bank_allocation.id, -999)">+ Add/Top-up babies</button>
      </div>
      <!--to-->
      <div *ngIf="show_hat_advisor" class="row">
        <app-order-advisor 
          #order_advisor
          [show_options_button]="advisor_show_options_button"
          [wing_id]="wing_id"

          [wall_bank]="this.bank"
          [wall_allocation]="bank_allocation"
          [customer_wall_babies]="this.babies"

          [crown_bank]="this.bank"
          [crown_allocation]="bank_allocation"

          [tails_bank]="null"
          [tails_allocation]="null"


          [customer_crown_babies]="this.babies"
          (assistantAutoAddBabies)="assistant_auto_add_babies($event)"
          (triggerSaveChanges)="save_customer()"

          [wait_for_saved_changes]="true"
          [pending_saved_changes]="unsaved_changes"
          [numOfWingsPerHat]="num_wings_per_hat"

        />
        <!--          
          [tails_bank]="tails_allocation_in_this_bank? this.bank : null"
          [tails_allocation]="tails_allocation_in_this_bank?? null"-->
      </div>

</div>
</ng-container>
</div>

<div *ngIf="(banks_baby_allocation_type_filter === null || banks_baby_allocation_type_filter === Bank_Allocation_Type.tails)"> 
<ng-container *ngFor="let bank_allocation of banks_baby_allocations | filter: 'customer_bank_id' : bank.id | filter: 'allocation_type' : 'tails'">
<!-- from here -->
 <hr  style="margin: 30px 0px;" />
 <div class="allocation-area">
      <div>
        <strong><span class="icon-tails" style="margin-right:10px;"></span>H material work allocation #{{ bank_allocation.id }}:</strong>
        {{ bank_allocation.quantity }} {{ raw_material_quantity_units }}
        <div>
          <button class="btn btn-warning" style="padding: 0px 11px 1px 5px; margin-left: 10px;" (click)="open_allocation_dialog(bank_allocation.id)">
            <fa-icon [icon]="faPencil"></fa-icon>
            Edit
          </button>
          <span [attr.title]="((babies | filter: 'allocation_id' : bank_allocation.id | filter: 'quantity_in_pending_orders' : 0 : true).length > 0)? 'Cannot merge this allocation&#10;(some babies in pending orders)':'Merge this allocation to another one'">
            <button 
              [disabled]="(babies | filter: 'allocation_id' : bank_allocation.id | filter: 'quantity_in_pending_orders' : 0 : true).length > 0"
              *ngIf="((this.banks_baby_allocations | filter: 'customer_bank_id' : bank.id).length > 1) && ((babies | filter: 'allocation_id' : bank_allocation.id).length > 0)"  
              class="btn btn-success" 
              style="padding: 0px 11px 1px 5px; margin-left: 10px;" 
              (click)="openAllocationMergeDialog(bank_allocation.id)">
              <span class="icon-merge"></span>
              Merge
            </button>
          </span>
          <span [attr.title]="((babies | filter: 'allocation_id' : bank_allocation.id | filter: 'quantity_in_pending_orders' : 0 : true).length > 0)? 'Cannot delete this allocation&#10;(some babies in pending orders)':'Delete this'">
            <button 
              [disabled]="(babies | filter: 'allocation_id' : bank_allocation.id | filter: 'quantity_in_pending_orders' : 0 : true).length > 0"
              class="btn btn-danger" style="padding: 0px 11px 1px 5px; margin-left: 10px;" (click)="delete_allocation(bank_allocation.id)">
              <fa-icon [icon]="faTrashCan"></fa-icon>
              Delete
            </button>
          </span>
          <button *ngIf="selectable_allocatoin" class="btn btn-info btn-select-this" style="padding: 0px 11px 1px 5px; margin-left: 10px;" (click)="select_allocation(bank_allocation)">
            <fa-icon [icon]="faCheck"></fa-icon>
            Select this
          </button>
        </div>

      </div>
        <!-- Tails editor -->
        <div class="d-flex flex-column tails_editor">
          <div>
            Set the number of cut tails for this H material allocation:
          </div>
          <div class="d-flex flex-row align-items-center tails_editor_form">
            <div class="form-floating">
              <input 
                type="number" 
                class="form-control tails_quantity" 
                [id]="'tails_quantity' + bank_allocation.id"  
                [(ngModel)]="bank_allocation.tails_quantity" 
                (change)="tails_quantity_changed(bank_allocation.id)" 
                (focus)="$any($event.target).select()"
                oninput="this.value = Math.max(this.value, 0)"
                min="0">
              <label [for]="'tails_quantity' + bank_allocation.id">H Material tails</label>
            </div>
            <div>
              In orders: {{ bank_allocation.tails_in_orders }}
            </div>
          </div>
        </div>
        <!--/Tails editor -->

            <!--from
      <div 
        [className]="'collapse ' + (((babies | filter: 'allocation_id' : bank_allocation.id).length > 0) && (collapsed_babies_lists)? '' : 'show')" [id]="'allocation_table' + bank_allocation.id" 
        *ngIf="(babies | filter: 'allocation_id' : bank_allocation.id).length > 0">
        <table class="table table-responsive table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Cut tails</th>
                <th scope="col">In orders</th>
                <th scope="col" class="text-center">Remove</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let baby of babies | sort: 'length' : true">
              <tr *ngIf="baby.allocation_id == bank_allocation.id">
                <td (click)="open_babies_dialog(bank_allocation.id, baby.length)">{{ baby.quantity }}</td>
                <td (click)="open_babies_dialog(bank_allocation.id, baby.length)">{{ baby.quantity_in_pending_orders }}</td>
                <td class="text-center" style="cursor: pointer;" [attr.title]="(baby.quantity_in_pending_orders == 0)? 'Delete these tails': 'Cannot delete these tails (included in orders)'"><fa-icon *ngIf="baby.quantity_in_pending_orders == 0" class="text-danger" [icon]="faTrashCan" (click)="delete_baby(baby.id)"></fa-icon></td>
              </tr>
                </ng-container>
            </tbody>
          </table>

        
      </div>
      <div *ngIf="(babies | filter: 'allocation_id' : bank_allocation.id).length == 0" style="height: 120px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center;">
        <div><fa-icon [icon]="faTriangleExclamation" size="2x"></fa-icon></div>
        <div>No babies in this allocation</div>
      </div>
      <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: center;">
        <button class="btn btn-primary" style="width: 50%; padding: 2px 0px;" (click)="open_tails_dialog(bank_allocation.id)">+ Add/Top-up H material tails</button>
      </div>
      to-->
      <!--
      <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="icon-tails" style="font-size: 40px; margin-bottom: 20px;"></span>
        <div>This is an allocation for cutting tails</div>
      </div>
      -->
</div>
 <!-- to here-->
</ng-container>
</div>

</div>
<div style="height: 160px; display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: center; line-height: 40px;" *ngIf="(banks_baby_allocations | filter: 'customer_bank_id' : bank.id).length == 0">
  <div><fa-icon [icon]="faTriangleExclamation" size="2x"></fa-icon></div>
  <div>No material allocated for work in this bank.</div>
  <div>Add some by clicking the <button class="btn btn-primary" style="padding: 0px 11px 3px 5px;" (click)="open_allocation_dialog(-999)">+ New work allocation</button> button.</div>
</div>
</div>