<div class="row justify-content-center order-editor-container">
    <div class="col-12 col-md-8 order-editor">

        <div class="toolbar">
            <!--http://localhost:4200/inventory/customer/orders?customer_id=10-->
            <button class="btn btn-warning" (click)="goToCustomersList()"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
            <button class="btn btn-secondary" (click)="print()"><span class="icon-printer"></span> Print</button>
            <button class="btn btn-secondary" (click)="exportPdf()"><span class="icon-file-pdf"></span> PDF</button>
            <button class="btn btn-success" *ngIf="unsaved_changes"><fa-icon [icon]="faSave"></fa-icon></button>
        </div>

        <div class="printable-content" #printSection>
    
        <!-- heading -->
        <div class="heading d-flex flex-nowrap flex-row justify-content-between align-items-center">
            <div>
                <img src="/assets/images/romtech-w-logo-light.png" alt="">
            </div>
            <div>
                <h3>Job Order</h3>
            </div>
        </div>

        <!-- loading animation -->
        <app-page-loading 
            [loading_message]="'Loading order...'" 
            [icon_size]="'3x'" 
            [hidden]="!loading" 
            [stretch_height]="true" />

        <div  [hidden]="loading">
            <div class="row fields-row">
                <div class="col-3 d-flex flex-column">
                    <div class="detail-title">Order last update</div>
                    <div class="detail-field flex-grow-1">{{ orderDetails.date | dateStr }}</div>
                </div>
                <div class="col-3 d-flex flex-column">
                    <div class="detail-title">Hat #</div>
                    <div class="detail-field flex-grow-1">{{ orderDetails.hat_id_with_customer }}</div>
                </div>
                <div class="col-3 d-flex flex-column">
                    <div class="detail-title">Hat style</div>
                    <div class="detail-field flex-grow-1">{{ orderDetails.wing_name }}</div>
                </div>
                <div class="col-3 d-flex flex-column">
                    <div class="detail-title">Knife model</div>
                    <div class="detail-field flex-grow-1">{{ orderDetails.knife }}</div>
                </div>
            </div>

            <div class="row  fields-row">
                <div class="col-3"></div>
                <div class="col-3 d-flex flex-column">
                    <div class="detail-title">Material</div>
                    <div class="detail-field flex-grow-1">{{ orderDetails.wall_material }} {{ orderDetails.wall_material_color }}</div>
                </div>
                <div class="col-3 d-flex flex-column">
                    <div class="detail-title">Wings</div>
                    <div class="detail-field flex-grow-1">{{ orderDetails.wing_quantity }}</div>
                </div>
            </div>
        
            <div class="row fields-row">
                <div class="col-4">
                    <table>
                        <tr *ngFor="let baby of (orderDetails.babies | sortbabies | prefix: 'L' : false)">
                            <td>
                                {{ baby.position }}
                            </td>
                            <td>
                                {{ baby.length }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                                        <table>
                        <tr *ngFor="let baby of (orderDetails.babies | sortbabies | prefix: 'R' : false)">
                            <td>
                                {{ baby.position }}
                            </td>
                            <td>
                                {{ baby.length }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div> <!-- babies list -->
            
            <div class="row fields-row">
                <div class="col">
                    <table class="checks-table">
                        <tr><td>A</td><td>Crown</td><td><div></div></td><td>Checked A</td><td><div></div></td></tr>
                        <tr><td>B</td><td>FR</td><td><div></div></td><td>Checked AB</td><td><div></div></td></tr>
                        <tr><td>C</td><td>H</td><td><div></div></td><td>Checked ABC</td><td><div></div></td></tr>
                        <tr><td>D</td><td>Sew</td><td><div></div></td><td>Checked ABCD</td><td><div></div></td></tr>
                        <tr><td>E</td><td>2nd R</td><td><div></div></td><td>Checked ABCDE</td><td><div></div></td></tr>
                        <tr><td>F</td><td>Cover</td><td><div></div></td><td>Checked ABCDEF</td><td><div></div></td></tr>
                        <tr><td>G</td><td>Sewing on band</td><td><div></div></td><td>Checked ABCDEFG</td><td><div></div></td></tr>
                        <tr><td>H</td><td>Glance</td><td><div></div></td><td>Checked ABCDEFGH</td><td><div></div></td></tr>
                    </table>
                </div>
            </div>



        </div><!--details area-->

        </div>
    </div>
</div>