:host {
    flex-grow: 1;
    display: flex;
}

.toolbar {
    margin: 15px 0px;
}

.toolbar button {
    margin-right: 15px;
}

#loading_icon {
    height: 100vh !important;
    margin-top: -193px;
    margin-bottom: -85px;
    padding-top: 85px;
}

.order-editor-container {
    flex-grow: 1;
}

.order-editor {
    background-color: white;
    color: black;
    height: 100%;
    padding: 50px;
}

.heading, .fields-row {
    margin-bottom: 20px;
}

.fields-row table {
    width: 100%;
    border: 3px solid black;
}

.fields-row table td {
    border: 2px solid black;
}

.heading img {
    width: 200px;
}

.detail-title {
    font-weight: 700;
}

.detail-field {
    border: 3px solid black;
    /*height: 60px;*/
    padding: 7px;
    align-content: center;
}

.printable-content {
  background-color: white;
  color: black;
  width: 100%;
  box-sizing: border-box;
}

/* Print-specific A4 page layout */
@media print {
    body *, ::ng-deep * {
        visibility: hidden;
    }

    .printable-content,
    .printable-content * {
        visibility: visible;
    }

    .printable-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 210mm;
        height: 297mm;
        overflow: hidden;
        page-break-after: avoid;
    }

    button {
        display: none;
    }
}