<app-confirmation-dialog 
    #delete_confirmation 
    modalTitle="Delete confirmation"
    modalText=""
    [btnYesIcon]=faTrashAlt
    btnYesText="Delete"
    btnYesClass="btn-danger">
</app-confirmation-dialog>

<app-modal-dialog #bank_editor>
  <app-raw-material-customer-dialog  #modalContent></app-raw-material-customer-dialog>
</app-modal-dialog>

<h4><fa-icon [icon]="faMoneyCheckDollar"></fa-icon> Customer banks</h4>

<div>
 <div class="addbtn_container">
  <a id="btnNewRaw" class="btn btn-primary" (click)="openCustomerEditor(null)">+ Add customer bank</a>
</div>
<div [hidden]="this.banks.length <= 0">Total: {{ banks.length }} customer {{((banks.length == 1)? "bank":"banks") }} {{banks_summary_string}}</div>
  <table class="table table-responsive table-striped table-hover" [hidden]="banks.length <= 0">
    <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Business name</th>
        <th scope="col">Quantity</th>
        <th scope="col" class="text-center">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let bank of banks; index as i" role="button">
        <td class="hover-warning" routerLink="/inventory/customer/editor" [queryParams]="{ id: bank.customer_id}"><span class="icon-address-book action-icon"></span>{{ bank.name }}<span class="text-success" [hidden]="bank.customer_id!=0" title="This non-existing customer will be created">*</span></td>
        <td>{{ bank.business_name }}</td>
        <td class="hover-warning" (click)="openCustomerEditor(bank)"><fa-icon class="action-icon" [icon]="faPencil"></fa-icon>
          {{ bank.quantity }} {{ bank.quantity_units }} ({{ bank.remaining_quantity }} remaining)
        </td>
        <td class="text-center" (click)="deleteBank(i, bank)"><fa-icon class="text-danger" [icon]="faTrashCan"></fa-icon></td>
      </tr>
    </tbody>
  </table>

  <div [hidden]="this.banks.length > 0" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1; text-align: center;margin: 50px 0;">
    No customer banks added for this raw material.<br/>
    Add some by clicking the + button above.
  </div>
</div>