:host {
    /*
    display: flex;
    flex-grow: 1;
    justify-content: center;
    */
    flex: 1 1 auto;
    position: relative;
}

#loading_icon {
    /* align-self: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* padding-top: 50%; */
    /* flex-grow: 1; */
    /* min-height: 100%; */
    /*background: yellow;*/
    /* height: 100%; */
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

#loading_message {
    margin-top: 30px;
}

#btnNewRaw, h1 {
    margin: 20px 0px;
}

/*
::ng-deep .ng-input input {
    color: var(--bs-body-color) !important;
}

::ng-deep .ng-select-container, ::ng-deep .ng-option
{
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

::ng-deep .ng-option:hover, ::ng-deep .ng-option-marked
{
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;
}

::ng-deep .ng-select .ng-clear-wrapper:hover .ng-clear {
    color: var(--bs-body-color) !important;
}
    */