<div class="row justify-content-center"><div class="col-12 col-md-9">
<h1><span class="icon-leaf"></span> Raw Materials</h1>

<app-page-loading 
  [loading_message]="'Loading materials...'" 
  [icon_size]="'3x'" 
  [hidden]="!loading" 
  [stretch_height]="true" />

<div [hidden]="loading">
  <a id="btnNewRaw" class="btn btn-primary" routerLink="/inventory/raw/editor">+ New raw material</a>

  <div class="infotitle" [hidden]="loading || this.rawMaterials.length <= 0">Total: {{ totalRecords | number: '1.0-0' }} {{ totalRecords == 1? 'raw material':'raw materials' }}</div>

  <div [hidden]="loading || this.rawMaterials.length == 0">
<table class="table table-responsive table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Purchased at</th>
        <th scope="col">Quantity</th>
        <th scope="col">Last update</th>
        <th scope="col">Last update by</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let rawMaterial of this.rawMaterials" 
        routerLink="/inventory/raw/editor" 
        [queryParams]="{ id: rawMaterial.id }" role="button">
        <td>
          <span [className]="'color color-' + rawMaterial.color.toLowerCase().replace(' ', '-')"></span>
          {{ rawMaterial.name }} - {{ rawMaterial.color }}
        </td>
        <td>{{ rawMaterial.purchased_at | dateStr }}</td>
        <td>
          {{ rawMaterial.purchase_quantity | number: ((rawMaterial.quantity_units=='kg')? ('1.2-2'): ('1.0')) }} 
          {{ rawMaterial.quantity_units }} 
          ({{ rawMaterial.remaining_quantity | number: ((rawMaterial.quantity_units=='kg')? ('1.2-2'): ('1.0')) }} left)
        </td>
        <td>{{ rawMaterial.updated_at | dateStr }}</td>
        <td>{{ rawMaterial.updated_by }}</td>
      </tr>
    </tbody>
  </table>

  <app-paginator #paginator [pages]=4  (onPageChange)="pageChange($event)" />
</div>

  <div [hidden]="loading || this.rawMaterials.length > 0" style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; flex-grow: 1; text-align: center;margin: 50px 0;">
    No raw materials added.<br/>
    Please add some by clicking the + button above.
  </div>
</div>
</div>