.length-selector-box {
    border: 1px solid;
    display: inline-block;
    width: 64px;
    height: 64px;
    align-content: center;
    text-align: center;
    margin: 6px;
    font-size: 14px;
    border-radius: 13px;
    cursor: pointer;
}

.selected-length {
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
}

.picker-title {
    font-family: var(--bs-body-font-family);
    font-size: 15px;
    font-weight: 500;
    color: var(--bs-gray);
}