<app-modal-dialog #dialog 
  [btnSaveClass]="'d-none'" 
  [btnCancelClass]="'btn-primary m-auto'" 
  [modalTitle]="'<span class=\'icon-history\'></span> Transaction history'"
  [modalSize]="'lg'"
  >

  <div *ngIf="loading">
    <div style="height: 170px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div><fa-icon [icon]="faArrowsRotate" [spin]="true" size="3x"></fa-icon></div>
      <div id="loading_message" class="mt-4">Loading history records...</div>
    </div>
  </div>
  <div *ngIf="!loading && history_records && history_records.length > 0">
    <div class="mb-3">
      History records for customer bank: 
      <strong>
        <!--<span routerLink="/inventory/raw/editor" [queryParams]="{ id: raw_material_id }">{{ raw_material_name }}</span>-->
        {{ raw_material_name }}
      </strong>
    </div>
    <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
            <th scope="col">Quantity</th>
            <th scope="col">Remaining in bank</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of history_records; index as i">
            <!-- Date -->
            <td>{{ record.date | dateStr }}</td>
            <!-- Action -->
            <td [ngSwitch]="record.transaction_type">
<!--
        'to_customer_bank', 
        'deleted_customer_bank',
        'customer_bank_allocate_to_Work',
        'customer_bank_allocation_deleted'
-->
              <span *ngSwitchCase="'to_customer_bank'">
                <span *ngIf="record.transaction_quantity >= 0">Added to bank: <strong>{{ raw_material_name }}</strong></span>
                <span *ngIf="record.transaction_quantity < 0">Removed from bank: <strong>{{ raw_material_name }}</strong></span>
              </span>
              
              <span *ngSwitchCase="'deleted_customer_bank'">
                Deleted customer bank
              </span>

              <span *ngSwitchCase="'customer_bank_allocate_to_Work'">
                <span *ngIf="record.transaction_quantity >= 0">Allocted to work (#{{ record.customer_banks_babies_id }})</span>
                <span *ngIf="record.transaction_quantity < 0">Reduced allocation (#{{ record.customer_banks_babies_id }})</span>
              </span>

              <span *ngSwitchCase="'customer_bank_allocation_deleted'">
                <span>Work allocation deleted (#{{ record.customer_banks_babies_id }})</span>
              </span>

            </td>
            <!-- Quantity -->
            <td [ngSwitch]="record.transaction_type" class="text-end">
              <span *ngSwitchCase="'to_customer_bank'">
                <span class="text-danger" *ngIf="record.transaction_quantity < 0">-{{ record.transaction_quantity }}</span>
                <span class="text-success" *ngIf="record.transaction_quantity >= 0">+{{ Math.abs(record.transaction_quantity) }}</span> {{ raw_material_units }}
              </span>

              <span *ngSwitchCase="'customer_bank_allocate_to_Work'">
                <span class="text-danger" *ngIf="record.transaction_quantity >= 0">-{{ record.transaction_quantity }}</span>
                <span class="text-success" *ngIf="record.transaction_quantity < 0">+{{ Math.abs(record.transaction_quantity) }}</span> {{ raw_material_units }}
              </span>

              <span *ngSwitchCase="'customer_bank_allocation_deleted'">
                <span class="text-danger" *ngIf="record.transaction_quantity < 0">-{{ record.transaction_quantity }}</span>
                <span class="text-success" *ngIf="record.transaction_quantity >= 0">+{{ Math.abs(record.transaction_quantity) }}</span> {{ raw_material_units }}
              </span>

              <span *ngSwitchCase="'deleted_customer_bank'" class="text-success">+{{ record.transaction_quantity }} {{ raw_material_units }}</span>
            </td>
            <!-- Remaining -->
            <td class="text-end">{{ record.cur_customer_bank_quantity }} {{ raw_material_units }}</td>
          </tr>
        </tbody>
      </table>
      <div (click)="ExportToExcel()" style="text-align: center; cursor: pointer;">
        <span class="icon-file-excel"></span> Download raw data to Excel
      </div>
    </div>

    <div *ngIf="((!loading) && (!history_records || history_records.length == 0))">
      <div style="height: 170px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div><fa-icon [icon]="faTriangleExclamation" size="3x"></fa-icon></div>
        <div id="loading_message" class="mt-4">No history records for this bank</div>
      </div>
    </div>

</app-modal-dialog>
