<app-modal-dialog #dialog 
    [btnCancelText]="'Cancel &amp; close'" 
    [btnCancelClass]="'btn-warning'"
    [modalSize]="'xl'"
    [btnSaveClass]="'d-none'"
    (cancel)="cancel_changes()">
    <div modalContent>
        <app-customer-banks-table 
            #banks_table
            *ngFor="let bank of banks"
            [customer]="customer"
            [bank]="bank"
            [banks_baby_allocations]="banks_baby_allocations"
            [banks_baby_allocation_type_filter]="banks_baby_allocation_type_filter"
            [babies]="babies"
            [raw_material_quantity_units]="bank.raw_material_quantity_units"
            [collapsed_babies_lists]="true"
            [selectable_allocatoin]="true"
            (afterViewInit)="banks_table_init()"
            (allocation_selected)="allocation_clicked($event)"

            (babies_picker_open)="babies_picker_open()"
            (babies_picker_closed)="babies_picker_closed()"
            (customer_updated)="update_customer($event)"
        
            [show_hat_advisor]="true"
            [advisor_show_options_button]="false"
            [wing_id]="wing_id"
            [num_wings_per_hat]="num_wings_per_hat"
        /><!--(bank_changed)="recalculateBanks()"-->
    </div>
</app-modal-dialog>