.tag {
    display: inline-flex;
    border: 1px solid;
    padding: 2px 10px;
    border-radius: var(--bs-border-radius);
    background-color: #9bd4e4;
    color: black;
    cursor: pointer;
    flex-wrap: nowrap !important;
}

.tag:hover {
    background-color: #39ace7;
}

.user-initials {
    border: 1px solid black;
    border-radius: 50%;
    text-transform: capitalize;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-initials img{
    padding: 0px;
    border-radius: 50%;
    width: 100%;
    height: 100%;  
}

.horizontal {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.horizontal div {
    margin-right: 5px;
}
