.card {
    width: 18rem;
    position: relative;
}

.stats-container {
    /*margin: 15px 0px;*/
}

h5 {
    font-weight: 700;
    margin-bottom: 12px;
}

.shortcuts, h5:not(:first-child) {
    margin-top: 30px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    /*
    color: black;
    background: yellow;
    */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.no_visibility {
    visibility: hidden;
}