/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body {
    transition: background-color 200ms linear;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
}

a {
    text-decoration: none;
}

[data-bs-theme=light] .navbar-logo {
    background-image: url("/assets/images/romtech-w-logo-light.png");
}


[data-bs-theme=dark] .navbar-logo {
    background-image: url("/assets/images/romtech-w-logo-dark.png");
}

[data-bs-theme=light] .logo {
    background-image: url("/assets/images/logo-light.png");
}


[data-bs-theme=dark] .logo {
    background-image: url("/assets/images/logo-dark.png");
}

/* Global styling for ng-select https://github.com/ng-select/ng-select */
.navbar-logo {
    width: 300px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: 300px;
}

.ng-input input {
    color: var(--bs-body-color) !important;
}

.ng-select-container, .ng-option
{
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

.ng-option:hover,  .ng-option-marked
{
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-body-color) !important;
}

.ng-select .ng-clear-wrapper:hover .ng-clear {
    color: var(--bs-body-color) !important;
}

.form-floating {
    position: relative;

    .ng-select-container {
        height: calc(3.5rem + 2px) !important;
        line-height: 1.25;
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; // allow textareas
        padding: 1rem 0.75rem;
        overflow: hidden;
        text-align: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        border: 1px solid transparent; // Required for aligning label's text with the input as it affects inner box model
        transform-origin: 0 0;
        transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    }

    .ng-select-container {
        padding-top: 1.625rem;
        padding-bottom: .625rem;

        .ng-input {
            top: unset !important;
        }
    }

    ng-select {
        ~label {
            opacity: 0.65;
            transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
            z-index: 1001;
        }


        &:focus .ng-select-container {
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
        }

        &.is-valid .ng-select-container {
            border-color: #198754 !important;
        }

        &.is-valid.ng-select-focused .ng-select-container {
            box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
        }

        &.is-invalid .ng-select-container {
            border-color: #dc3545 !important;

        }

        &.is-invalid.ng-select-focused .ng-select-container {
            box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
        }
    }
}

input.ng-invalid.ng-touched, .ng-autocomplete.invalid ::ng-deep .autocomplete-container .input-container input {
    animation: blinker 1.3s 0.34s 2;
}
  
@keyframes blinker {
    50% {
        background-color: var(--bs-danger) !important;
    }
}

.form-floating > label::after {
    background-color: transparent !important;
}

.upper-button {
    width: 100%;
    height: 60px;
}

.col-2:has(.upper-button) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

form .row {
    margin: 20px 0;
}

.hover-warning:hover {
    color:var(--bs-warning);
}

.hover-success:hover {
    color: var(--bs-success);
}

td {
    vertical-align: middle;
}


input.invalid {
    animation: blinker 1.3s 0.34s 2 !important;
    
}

@keyframes blinker {
    50% {
        background-color: red; /*var(--bs-danger)*/
    }
}

.color {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border: 1px solid white;
}

.color.color-dark-brown {
    background-color: #654321;
}

.color.color-brown {
    background-color: #996532
}

.color.color-light-brown {
    background-color: #D68E46;
}

.color.color-black {
    background-color: black;
}

.color.color-natural {
    background-color: #decca6;
}