h3 {
    margin: 25px 0;
}

.profile-section {
    border: 1px solid;
    padding: 30px;
    border-radius: var(--bs-border-radius);
    margin-bottom: 30px;
}

.profile-section .section-row {
    margin-top: 30px;
}

.save-button {
    min-width: 150px;
}