.margined-horizon {
    margin: 50px 0px;
}

.centralized {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.btn-verify {
    min-width: 150px;
}

.code {
    font-family: 'SpaceMono';
    text-align: center;
    font-size: 40px;
    letter-spacing: 15px;
    text-transform: uppercase;
    width: 100%;
}

.message {
    margin-top: 10px;
}

.success {
    padding: 30px;
}