.status-pending {
    color: var(--bs-warning);
    text-transform: capitalize;
}

.status-approved {
    color: var(--bs-success);
    text-transform: capitalize;
}

.status-declined {
    color: var(--bs-danger);
    text-transform: capitalize;
}

.btn {
    min-width: 200px;
    margin-right: 20px;
}

.roles-select, .roles-select option {
    text-transform: capitalize;
}

.roles-select {
    margin-left: 10px;
    min-width: 200px;
}

.approval-status {
    border: 1px solid;
    border-radius: var(--bs-border-radius);
    padding: 20px;
    margin: 20px 0px;
}

.row {
    margin: 30px 0px;
}

.horizontal {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.horizontal div {
    margin-right: 5px;
}