<div class="form-floating mb-3">
    <input type="text" class="form-control" id="materialName" placeholder="Gold" [(ngModel)]="outputObj.name">
    <label for="materialName">Raw material name</label>
</div>
<div class="form-floating">
    <input type="number" id="materialWeight" class="form-control" placeholder="0" [(ngModel)]="outputObj.weight">
    <label for="materialWeight">Weight in kg</label>
</div>
<div class="form-floating">
    <input type="date" id="purchasedAt" class="form-control" placeholder="0" [(ngModel)]="outputObj.purchased_at">
    <label for="purchasedAt">Purchased at</label>
</div>