<app-modal-dialog #allocation_dialog>
    <div modalContent>
        <form novalidate #quantityForm="ngForm" [id]="'quantityForm'">
            <div class="row">
                <div class="col-12">{{ (isNew)? "Create a work allocation" : "Edit work allocation" }} (Max: {{ MaxQuantity }} {{ QuantityUnits }})</div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-row align-items-center">
                    <span>Allocation type:</span>
                    <div class="flex-grow-1" style="margin-left: 15px;">
                <ng-select
                  #allocation_type_selector
                  placeholder="Allocation type"
                  [items]="allocation_types"
                  bindLabel="caption"
                  bindValue="name"
                  [(ngModel)]="allocation_type"
                  name="allocation_type_selector"
                  [clearable]="false"
                  [disabled]="LockAllocationType" 
                  >
                    <ng-template ng-label-tmp let-item="item">
                        <span [className]="'icon-' + item.name"></span> <span class="text-capitalize" style="margin-left: 10px;">{{ allocation_type_cations[item.name] }}</span>
                    </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index">
                        <span [className]="'icon-' + item.name"></span> <span class="text-capitalize" style="margin-left: 10px;">{{ allocation_type_cations[item.name] }}</span>
                      </ng-template>          
                </ng-select>
            
                </div>
            </div>
            </div>           
            <div class="row">
                <div class="col-12">
                    <div>
                    <span style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center;">
                        <div class="form-floating" style="width: 100%; margin-right: 20px;">
                        <input 
                            type="number" 
                            #allocationQuantity="ngModel" 
                            class="form-control"
                            placeholder="0" 
                            [(ngModel)]="CurrentQuantity" 
                            name="allocationQuantity" 
                            required="true" 
                            min="0" 
                            [attr.max]="MaxQuantity" 
                            [ngClass]="{'form-control': true, 'invalid': (quantityForm.touched && (CurrentQuantity <=0 || CurrentQuantity > MaxQuantity))}"
                            (input)="quantityChanged()">
                            <label for="allocationQuantity">Allocation quantity</label>
                        </div>
                        <span>{{ QuantityUnits }}</span>                    
                    </span>
                    </div>
                <div class="text-danger" *ngIf="attemptedClose && CurrentQuantity <= 0">Please enter a valid quantity for this bank</div>
                <div class="text-danger" *ngIf="CurrentQuantity > MaxQuantity">Not enough material in the bank (max for this allocation: {{ MaxQuantity}})</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <app-capacity-bar
                        #meter
                        (bankQuantityChanged)="capacityBarChanged($event)"
                        [show_in_use]="true"
                         />
                </div>
            </div>
        </form>
    </div>
</app-modal-dialog>
